DOCKER_PLATFORM=linux/arm64
BIND_ADDRESS=127.0.0.1
HTTP_PORT=1880

APP_ID=nodered-arm64
PUBLIC_URL=http://localhost:1880/nodered/nodered-arm64

KEYCLOAK_REALM_URL=http://dashboard-test/auth/realms/master
KEYCLOAK_CLIENT_ID=nodered
KEYCLOAK_CLIENT_TYPE=confidential
KEYCLOAK_CLIENT_SECRET=INSERIRE_IL_SECRET_DEL_CLIENT

NODE_RED_CREDENTIAL_SECRET=INSERIRE_UNA_CHIAVE_LUNGA_E_CASUALE

OWNERSHIP_ENDPOINT=http://dashboard-test/ownership-api/v1/list/
PROCESS_LOADER_URL=http://dashboard-test/processloader/api
SSO_SCOPE=openid profile offline_access
