DOCKER_PLATFORM=linux/arm/v7
BIND_ADDRESS=127.0.0.1
HTTP_PORT=1880
APP_ID=nodered-arm7
PUBLIC_URL=https://CHANGE_ME/nodered/nodered-arm7
KEYCLOAK_REALM_URL=https://CHANGE_ME/auth/realms/master
KEYCLOAK_CLIENT_ID=nodered
KEYCLOAK_CLIENT_TYPE=confidential
KEYCLOAK_CLIENT_SECRET=CHANGE_ME
NODE_RED_CREDENTIAL_SECRET=CHANGE_ME
OWNERSHIP_ENDPOINT=https://CHANGE_ME/ownership-api/v1/list/
PROCESS_LOADER_URL=https://CHANGE_ME/processloader/api
SSO_SCOPE=openid profile offline_access
# Opzionali, secondo i nodi usati nei flow:
# DASHBOARD_MANAGER_URL=https://CHANGE_ME/dashboardSmartCity
# OWNERSHIP_BASE_URL=https://CHANGE_ME/ownership-api/
# PERSONAL_DATA_URL=https://CHANGE_ME/datamanager/api/v1/
# SERVICEMAP_URL=https://CHANGE_ME/ServiceMap/api/v1
# IOT_DIRECTORY_URL=https://CHANGE_ME/iot-directory/
# WS_SERVER_URL=wss://CHANGE_ME/wsserver
