<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h1>Please wait...</h1>
        </div>
            <div class="modal-body" style="padding: 1em;">
                I am now loading the list of the items that you can add.
                </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>         
        </div>
    </div>
</div>