{
  "openapi": "3.0.1",
  "info": {
    "title": "Device, Broker and Value Mgmt API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://iotdirectory.snap4city.org/api",
      "variables": {
        "snap4city": {
          "default": "snap4city"
        }
      }
    }
  ],
  "paths": {
    "/device.php": {
      "summary": "Device Management",
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "Insert, update, delete, retrieve devices and device information.",
        "description": "This API is for managing the IoT devices. It can be leveraged for inserting, updating, deleting, and retrieving information about a device of interest. \n\nFor any APIs an Authorization __token__ in the Bearer format in the HTTP Header has to be specified, depending on the choosen scenario (see \"nodered\" params below).\n\nThe __action__ input parameter indicates which operation has to be performed:\n\n* __Insert__ - This API is intended for inserting a new device in the Iot-Directory. The user has to specify the required parameters for inserting a device. The status of the operation is returned. This operation also provides the registration in the Knowledge Base. This API provides also the  registration in the specified context broker (when the context broker requires a specific registration).  \n\n* __Update__ - This API is intended for updating a device in the Iot-Directory. The user has to specify the required parameters for updating a device. The status of the operation is returned. This operation also provides the updating in the Knowledge base and the updating in the specified context broker.\n\n* __Delete__ - This API is intended for deleting a device from the Iot-Directory. The user has to specify the required parameters for deleting a device. The status of the operation is returned. This operation also provides the deletion from the Knowledge base and the deletion from corresponding context broker.\n\n* __Get all device__ - This API is intended for retrieving all device from the Iot-Directory. The status of the operation is returned together with the requested data.\n\n* __Get device attributes__ - This API is intended for retrieving all the values associated with devices from the Iot-Directory. The user has to specify the required parameters for retrieving all the attributes. The status of the operation is returned together with the requested data.\n\n* __Get device__ - This API is intended for retrieving all available information about the specified Device. The status of the operation is returned together with the requested data.\n\n* __Download__ - This API is intended for retrieving the private key / certificate of a Device created with Authentication factor. The status of the operation is returned together with the requested data.\n",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "\nThe operation to be performed.\n\n_Required for actions:_ insert, update, delete, get_device_attributes.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "insert",
                "update",
                "delete",
                "get_all_device",
                "get_device_attributes",
                "get_param_values"
              ]
            },
            "example": "insert"
          },
          {
            "name": "nodered",
            "in": "query",
            "description": "If this parameter is present (it doesn't matter actually the passed value), the passed Authorization token has to be considered as an AccessToken, otherwise has to be considered as an RefreshToken",
            "schema": {
              "type": "string"
            },
            "example": "<any-value>"
          },
          {
            "name": "id",
            "in": "query",
            "description": "\nUnique identifier for the device (in the specified context broker). Has to be conformant to regex: /[^a-zA-Z0-9_-]/ (if the device is imported from external source the character : is supported)\n\n_Required for actions:_ insert, update, delete, get_device_attribute, get_device, download.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "provaMM7777"
          },
          {
            "name": "type",
            "in": "query",
            "description": "\nThe type of the device (e.g. Thermometer, TrainPass, Citylamp, fan). It cannot be modified in update.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Thermometer"
          },
          {
            "name": "contextbroker",
            "in": "query",
            "description": "\nName of the context broker that handles the device. Has to be conformant to regex: /[^a-zA-Z0-9_-]/\n\n_Required for actions:_ insert, update, delete, get_device_attribute, get_device, download.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mqttUNIFI"
          },
          {
            "name": "gb_old_cb",
            "in": "query",
            "description": "\nName of the OLD context broker in case of upated.\n\n_Required for actions:_ update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mqttUNIFI"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "\nIt specifies if the value is a Sensor or an Actuator.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sensor",
                "actuator"
              ]
            },
            "example": "sensor"
          },
          {
            "name": "format",
            "in": "query",
            "description": "\nFormat of the value: Csv, xml, JSON.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "xml",
                "json"
              ]
            },
            "example": "csv"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "\nLatitude coordinate of the device location.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "maximum": 90,
              "minimum": -90
            },
            "example": 43.769562
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "\nLongitude coordinate of the device location.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "maximum": 180,
              "minimum": -180
            },
            "example": 11.255814
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "\nFrequency at which it produces observations, in seconds.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 60
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "\nA list of JSON objects representing the values generated by a device for each observation. The value_name has to be conformant to regex: /[^a-zA-Z0-9_-]/\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "$ref": "#/components/schemas/attribute"
              }
            }
          },
          {
            "name": "deleteattributes",
            "in": "query",
            "description": "A list of JSON objects representing the values removed by a device. (when available otherwise string \"[]\"). The value_name has to be conformant to regex: /[^a-zA-Z0-9_-]/\n\n_Used in actions:_ update.\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/attribute"
              }
            }
          },
          {
            "name": "newattributes",
            "in": "query",
            "description": "A list of JSON objects representing the values added to a device. (when available otherwise string \"[]\"). The value_name has to be conformant to regex: /[^a-zA-Z0-9_-]/\n\n_Used in actions:_ update.\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/attribute"
              }
            }
          },
          {
            "name": "mac",
            "in": "query",
            "description": "\nMac address of the device (when available otherwise empty string).\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "00-14-22-01-23-45"
          },
          {
            "name": "producer",
            "in": "query",
            "description": "\nDevice producer (when available otherwise empty string).\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Arduino"
          },
          {
            "name": "model",
            "in": "query",
            "description": "\nDevice model (when available otherwise string \"custom\"). Has to be conformant to regex: /[^a-zA-Z0-9_-]/ and can include teh space character\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "TMP36"
          },
          {
            "name": "k1",
            "in": "query",
            "description": "\nIt specify the first part of the secret in case the device is of a protected Model (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "ab68e819-74fb-46c1-906c-2e22ea3ca537"
          },
          {
            "name": "k2",
            "in": "query",
            "description": "\nIt specify the second part of the secret in case the device is of a protected Model (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "ab68e819-74fb-46c1-906c-2e22ea3ca537"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "\n__DEPRECATED__ It specify internally in the Iot-Directory if the IOT Device is Public or Private. (when available otherwise string \"private\")\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            },
            "example": "public"
          },
          {
            "name": "shouldbeRegistered",
            "in": "query",
            "description": "\nIf this parameter is present (it doesn't matter actually the passed value) the device should be registered in KB (when available otherwise string \"yes\")\n\nUsed in actions:_ insert.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "<any-value>"
          },
          {
            "name": "service",
            "in": "query",
            "description": "\nIn case of context broker Multi-tenancy, it specifies the name of the Tenant to be used (when available otherwise empty string)\n\nUsed in actions:_ insert, update, delete, get_device_attributes, get_device.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "House"
          },
          {
            "name": "servicePath",
            "in": "query",
            "description": "\nIn case of context broker Multi-tenancy, it specifies the path to be used (when available otherwise empty string)\n\nUsed in actions:_ insert, update, delete, get_device_attributes, get_device.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "/Floor1"
          },
          {
            "name": "subnature",
            "in": "query",
            "description": "\nKB Classification of the device (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Beach_resort"
          },
          {
            "name": "static_attributes",
            "in": "query",
            "description": "\nA list of JSON objects representing the Static attributes of the device (when available otherwise  string \"[]\")\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": [
              [
                "http://schema.org/addressLocality",
                "Firenze"
              ]
            ]
          },
          {
            "name": "edgegateway_type",
            "in": "query",
            "description": "\n__DEPRECATED__ Type of edge device (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "N/A"
          },
          {
            "name": "edgegateway_uri",
            "in": "query",
            "description": "\n__DEPRECATED__ URL of edge device (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "N/A"
          },
          {
            "name": "length",
            "in": "query",
            "description": "\nHow many entries to return (when available otherwise string \"-1\")\n\nUsed in actions:_ get_all_device.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "start",
            "in": "query",
            "description": "\nStart point from entries to return (when available otherwise string \"1\")\n\nUsed in actions:_ get_all_device.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "draw",
            "in": "query",
            "description": "\nDraw point from entries to return (when available otherwise string \"1\")\n\nUsed in actions:_ get_all_device.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "\nArray about the columns from entries to return (when available otherwise empty array)\n\nUsed in actions:_ get_all_device.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "\nFilename of the file to download\n\nUsed in actions:_ download.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "/private/prova-modello2-cert-key.pem /certsdb/prova-modello2-cert-crt.pem"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/device"
          }
        }
      }
    },
    "/model.php": {
      "summary": "Model Management",
      "get": {
        "tags": [
          "Model"
        ],
        "summary": "Insert, update, delete, retrieve models and model information.",
        "description": "This API is for managing the IoT models. It can be leveraged for inserting, updating, deleting, and retrieving information about a model of interest. \n\nFor any APIs an Authorization __token__ in the Bearer format in the HTTP Header has to be specified, depending on the choosen scenario (see \"nodered\" params below).\n\nThe __action__ input parameter indicates which operation has to be performed:\n\n* __Insert__ - This API is intended for inserting a new model in the Iot-Directory. The user has to specify the required parameters for inserting a model. The status of the operation is returned.  \n\n* __Update__ - This API is intended for updating a model in the Iot-Directory. The user has to specify the required parameters for updating a model. The status of the operation is returned. \n\n* __Delete__ - This API is intended for deleting a model from the Iot-Directory. The user has to specify the required parameters for deleting a model. The status of the operation is returned. \n\n* __Get all models__ - This API is intended for retrieving all models from the Iot-Directory. The status of the operation is returned together with the requested data.\n\n* __Get value attributes__ - This API is intended for retrieving all the values associated with model from the Iot-Directory. The user has to specify the required parameters for retrieving all the attributes. The status of the operation is returned together with the requested data.\n\n* __Get model__ - This API is intended for retrieving all available information about the specified model. The status of the operation is returned together with the requested data.\n\n* __Get all models DataTable__ - DEPRECATED (use __Get all models__ instead) This API is intended for retrieving all models from the Iot-Directory in a paginated way. The status of the operation is returned together with the requested data.\n",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "\nThe operation to be performed.\n\n_Required for actions:_ insert, update, delete, get_model, get_value_attributes, get_all_models, get_all_models_DataTable.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "insert",
                "update",
                "delete",
                "get_model",
                "get_value_attributes",
                "get_all_models",
                "get_all_models_DataTable"
              ]
            },
            "example": "insert"
          },
          {
            "name": "nodered",
            "in": "query",
            "description": "If this parameter is present (it doesn't matter actually the passed value), the passed Authorization token has to be considered as an AccessToken, otherwise has to be considered as an RefreshToken",
            "schema": {
              "type": "string"
            },
            "example": "<any-value>"
          },
          {
            "name": "name",
            "in": "query",
            "description": "\nUnique name for the model. \n\n_Required for actions:_  insert, update, get_model.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Model Thermo"
          },
          {
            "name": "description",
            "in": "query",
            "description": "\nDescription for the model. \n\n_Required for actions:_  insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Thermo description model"
          },
          {
            "name": "id",
            "in": "query",
            "description": "\nUnique identifier for the model. Has to be conformant to regex: /[^a-zA-Z0-9_-]/ \n\n_Required for actions:_  update, delete, get_value_attribute.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 100
          },
          {
            "name": "type",
            "in": "query",
            "description": "\nThe type of the model (e.g. Thermometer, TrainPass, Citylamp, fan).\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Thermometer"
          },
          {
            "name": "contextbroker",
            "in": "query",
            "description": "\nName of the context broker that handles the device. Has to be conformant to regex: /[^a-zA-Z0-9_-]/\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mqttUNIFI"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "\nIt specifies if the value is a Sensor or an Actuator.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sensor",
                "actuator"
              ]
            },
            "example": "sensor"
          },
          {
            "name": "format",
            "in": "query",
            "description": "\nFormat of the value: Csv, xml, JSON.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "xml",
                "json"
              ]
            },
            "example": "csv"
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "\nFrequency at which it produces observations, in seconds.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 60
          },
          {
            "name": "kgenerator",
            "in": "query",
            "description": "\nType of autehntication.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "special",
                "authenticated"
              ]
            },
            "example": "normal"
          },
          {
            "name": "hc",
            "in": "query",
            "description": "\nDEPRECATED (use info in sensor value) Healthiness criteria \n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "refresh_rate",
                "different_values",
                "within_bounds"
              ]
            },
            "example": "refresh_rate"
          },
          {
            "name": "hv",
            "in": "query",
            "description": "\nDEPRECATED (use info in sensor value) Healthiness value\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 300
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "\nA list of JSON objects representing the values generated by a device for each observation. The value_name has to be conformant to regex: /[^a-zA-Z0-9_-]/\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "$ref": "#/components/schemas/attribute"
              }
            }
          },
          {
            "name": "producer",
            "in": "query",
            "description": "\nDevice producer (when available otherwise empty string). Here is required, meanwhile in device is not needed\n\n_Used in actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Arduino"
          },
          {
            "name": "service",
            "in": "query",
            "description": "\nIn case of context broker Multi-tenancy, it specifies the name of the Tenant to be used (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "House"
          },
          {
            "name": "servicePath",
            "in": "query",
            "description": "\nIn case of context broker Multi-tenancy, it specifies the path to be used (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "/Floor1"
          },
          {
            "name": "subnature",
            "in": "query",
            "description": "\nKB Classification of the device (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Beach_resort"
          },
          {
            "name": "static_attributes",
            "in": "query",
            "description": "\nA list of JSON objects representing the Static attributes of the device (when available otherwise  string \"[]\")\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": [
              [
                "http://schema.org/addressLocality",
                "Firenze"
              ]
            ]
          },
          {
            "name": "edgegateway_type",
            "in": "query",
            "description": "\n__DEPRECATED__ Type of edge device (when available otherwise empty string)\n\nUsed in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "N/A"
          },
          {
            "name": "length",
            "in": "query",
            "description": "\nHow many entries to return (when available otherwise string \"-1\") DEPRECATED (use Get all models instead)\n\nUsed in actions:_ get_all_models_DataTable.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "start",
            "in": "query",
            "description": "\nStart point from entries to return (when available otherwise string \"1\") DEPRECATED (use Get all models instead)\n\nUsed in actions:_ get_all_models_DataTable.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "draw",
            "in": "query",
            "description": "\nDraw point from entries to return (when available otherwise string \"1\") DEPRECATED (use Get all models instead)\n\nUsed in actions:_ get_all_models_DataTable.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "\nArray about the columns from entries to return (when available otherwise empty array) DEPRECATED (use Get all models instead)\n\nUsed in actions:_ get_all_models_DataTable.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/device"
          }
        }
      }
    },
    "/contextbroker.php": {
      "get": {
        "tags": [
          "Broker"
        ],
        "summary": "Insert, update, delete, retrieve context brokers and context broker information",
        "description": "This API is for the management of the context brokers. It allows to insert, update, delete, get the full listing of the brokers. The __action__ input parameter indicates what operation has to be performed:\n\n* __Insert__ - This API is intended for inserting a new Context Broker in the Iot-Directory. The user has to specify the required parameters for inserting the Context Broker. The status of the operation is returned.\n\n* __Update__ - This API is intended for updating a Context Broker in the Iot-Directory. The user has to specify the required parameters for updating the Context Broker. The status of the operation is returned. \n\n* __Delete__ - This API is intended for deleting a Context Broker from the Iot-Directory. The user has to specify the required parameters for deleting the Context Broker. The status of the operation is returned. \n\n* __Get all Contextbroker__ - This API is intended for retrieving all Context Brokers from the Iot-Directory. The user has to specify no parameters. The status of the operation is returned, together with the requested data.\n\n* __Get services by cb name__ - This API is intended for retrieving Context Brokers services information in specific case of a context broker supporting NGSI with multitenancy. The user has to specify the required parameters. The status of the operation is returned, together with the requested data.\n",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "The operation to be performed.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "insert",
                "update",
                "delete",
                "get_all_contextbroker",
                "get_services_by_cb_name"
              ]
            },
            "example": "insert"
          },
          {
            "name": "nodered",
            "in": "query",
            "description": "If this parameter is present (it doesn't matter actually the passed value), the passed Authorization token has to be considered as an AccessToken, otherwise has to be considered as an RefreshToken",
            "schema": {
              "type": "string"
            },
            "example": "<any-value>"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the Context Broker that handles different devices. It is a unique identifier.\n\n_Required for actions:_ insert, update, delete, get_services_by_cb_name.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "rabbitUNIMI"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Kind of the Context Broker. It can be an Internal or External\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "internal",
                "external"
              ]
            },
            "example": "internal"
          },
          {
            "name": "ip",
            "in": "query",
            "description": "The Internet Protocol (IP) address of the Context Broker.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "159.149.129.184"
          },
          {
            "name": "port",
            "in": "query",
            "description": "The port number of the Context Broker.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1026
          },
          {
            "name": "protocol",
            "in": "query",
            "description": "The type of protocol supported by this Context Broker.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "amqp",
                "coap",
                "mqtt",
                "ngsi",
                "ngsi w/MultiService",
                "sigfox"
              ]
            },
            "example": "ngsi"
          },
          {
            "name": "version",
            "in": "query",
            "description": "DEPRECATED The version of protocol supported by this Context Broker.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "v1"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude coordinate of the Context Broker location (when available, otherwise an empty string).\n\n_Used in actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 43.769562
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude coordinate of the Context Broker location (when available, otherwise an empty string).\n\n_Used in actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 11.255814
          },
          {
            "name": "login",
            "in": "query",
            "description": "Login name for authenticating to the Context Broker for Internal scenario (when available, otherwise an empty string).\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "prova"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Login password for authenticating to the Context Broker for Internal scenario  (when available, otherwise an empty string).\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "prova25"
          },
          {
            "name": "sha",
            "in": "query",
            "description": "Sha of the certificate representing the Context Broker.\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "efac28bd29b76c6fa9ba74efd937cd06ae992c8af23625a21a0471ff14800fed"
          },
          {
            "name": "accesslink",
            "in": "query",
            "description": "external accesslink to contact the Context Broker.\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "brokername.snap4city.org"
          },
          {
            "name": "accessport",
            "in": "query",
            "description": "external accessport to contact the Context Broker.\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 80
          },
          {
            "name": "path",
            "in": "query",
            "description": "path to contact the Context Broker.\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "/v2/entities"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "DEPRECATED visibility to the Context Broker.\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "private"
          },
          {
            "name": "services",
            "in": "query",
            "description": "For Context Broker supporting ngsi with Multitenancy specify the list of available services.\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "House"
          },
          {
            "name": "urlnificallback",
            "in": "query",
            "description": "For Context Broker supporting ngsi, if specified, it subsbibe for callback\n\n_Used in actions:_ insert, update.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "http://192.168.1.1:5577"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/broker"
          }
        }
      }
    },
    "/value.php": {
      "summary": "Values Management",
      "get": {
        "tags": [
          "Value"
        ],
        "summary": "Insert, update, delete, retrieve values and value information.",
        "description": "This API is for the management of the event values. It allows to insert, update, delete, get the full listing of the event values, and check value informations. The __action__ input parameter indicates what operation has to be performed:\n\n* __Insert__ - This API is intended for inserting a new value with a device already registered in the Iot-Directory. The user has to specify the required parameters for inserting a value. The status of the operation is returned. This operation also provides the registration in the Knowledge Base. Finally the value is also reported in the structure of the device registered in the Context Broker (when this is required by the Context Broker).\n\n* __Update__ - This API is intended for updating a value with a device already registered in the Iot-Directory. The user has to specify the required parameters for updating a value. The status of the operation is returned. This operation also provides the updating on the Knowledge Base. Finally the value is also reported in the structure of the device registered in the Context Broker (when this is required by the Context Broker).\n\n* __Delete__ - This API is intended for deleting a value from the Iot-Directory. The user has to specify the required parameters for deleting a value. The status of the operation is returned. This operation also provides the deletion from the Knowledge Base.  \n\n* __Get all event values__ - This API is intended for retrieving all values from the Iot-Directory. The user has to specify no parameters. The status of the operation is returned, together with the requested data. \n\n* __Check if last value__ - This API is intended for retrieving the number of the value of a specific device. The user has to specify the required parameters. The status of the operation is returned.\n",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "The operation to be performed.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "insert",
                "update",
                "delete",
                "get_all_event_value",
                "check_if_last_value"
              ]
            },
            "example": "insert"
          },
          {
            "name": "nodered",
            "in": "query",
            "description": "If this parameter is present (it doesn't matter actually the passed value), the passed Authorization token has to be considered as an AccessToken, otherwise has to be considered as an RefreshToken",
            "schema": {
              "type": "string"
            },
            "example": "<any-value>"
          },
          {
            "name": "device",
            "in": "query",
            "description": "The device unique identifier.\n\n_Required for actions:_ insert, update, delete, check_if_last_value. \n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "provaMM77"
          },
          {
            "name": "contextbroker",
            "in": "query",
            "description": "Name of the Context Broker that handles the device.\n\n_Required for actions:_ insert, update, delete, check_if_last_value. \n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "rabbitUNIMI"
          },
          {
            "name": "value_name",
            "in": "query",
            "description": "Name of the value (and unique in the specified device and context broker).\n\n_Required for actions:_ insert, update, delete. \n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "ProvaVal"
          },
          {
            "name": "data_type",
            "in": "query",
            "description": "Data type of the value (e.g. integer, float, string, boolean, and so on).\n\n_Required for actions:_ insert, update. \n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "binary"
          },
          {
            "name": "value_type",
            "in": "query",
            "description": "Type of the value (e.g. Temperature, humidity, light, CO_concentration, and so on).\n\n_Required for actions:_ insert, update. \n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "actuator_canceller"
          },
          {
            "name": "value_unit",
            "in": "query",
            "description": "Unit of measure of the value (eg. oC,  %, lux, ppm, and so on).\n\n_Required for actions:_ insert, update. \n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "lux"
          },
          {
            "name": "editable",
            "in": "query",
            "description": "It specifies if the measure can be only read (false) or a value can be assigned (true). \n\n_Required for actions:_ insert, update, delete.\n",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "healthiness_criteria",
            "in": "query",
            "description": "The type of check to perform on values (value_refresh_rate, different_values or value_bounds).\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "value_refresh_rate",
                "different_values",
                "value_bounds"
              ]
            },
            "example": "value_refresh_rate"
          },
          {
            "name": "healthiness_value",
            "in": "query",
            "description": "Healthiness value related to the healthiness criteria. The interpretetation varies depending of the adopted healthiness criteria: it could be the frequence of data acquisition (e.g. 300 seconds), the number of last values that have to have at least two different values, or the min and max allowed values.\n\n_Required for actions:_ insert, update.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 100
          },
          {
            "name": "length",
            "in": "query",
            "description": "\nHow many entries to return (when available otherwise string \"-1\")\n\nUsed in actions:_ get_all_event_value.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "start",
            "in": "query",
            "description": "\nStart point from entries to return (when available otherwise string \"1\")\n\nUsed in actions:_ get_all_event_value.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "draw",
            "in": "query",
            "description": "\nDraw point from entries to return (when available otherwise string \"1\")\n\nUsed in actions:_ get_all_event_value.\n",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "\nArray about the columns from entries to return (when available otherwise empty array)\n\nUsed in actions:_ get_all_event_value.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/value"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "attribute": {
        "description": "A type of detection that a device is capable to perform.",
        "type": "object",
        "required": [
          "data_type",
          "value_unit",
          "value_type",
          "healthiness_criteria",
          "helthiness_value"
        ],
        "properties": {
          "value_name": {
            "description": "Name of the value.",
            "type": "string",
            "example": "a"
          },
          "data_type": {
            "description": "Basic type of the value (e.g. string, integer).",
            "type": "string",
            "example": "binary"
          },
          "value_type": {
            "description": "A semantic description of the value.",
            "type": "string",
            "example": "actuator_canceller"
          },
          "editable": {
            "description": "If the value can be only read or its value can be also updated.",
            "type": "string",
            "example": 0
          },
          "value_unit": {
            "description": "Unit of measure of the value.",
            "type": "string",
            "example": "A"
          },
          "healthiness_criteria": {
            "description": "How the healthy status of the device should be determined.",
            "type": "string",
            "enum": [
              "refresh_rate",
              "different_values",
              "value_bounds"
            ],
            "example": "refresh_rate"
          },
          "healthiness_value": {
            "description": "The corresponding value.",
            "type": "string",
            "example": 3600
          }
        }
      }
    },
    "responses": {
      "device": {
        "description": "JSON document where the status of the operation and the possible retrieved data can be found.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "status",
                "visibility",
                "active"
              ],
              "properties": {
                "status": {
                  "description": "The mandatory status of the operation: Ok, or Ko.\n\n_Returned by all actions._\n",
                  "type": "string",
                  "enum": [
                    "ok",
                    "ko"
                  ],
                  "example": "ok"
                },
                "msg": {
                  "description": "A message related to the execution of the operation.\n\n_Returned by all actions._\n",
                  "type": "string"
                },
                "visibility": {
                  "description": "The visibility reported in input: public, or private.\n\n_Returned by actions:_ insert, update.\n",
                  "type": "string",
                  "enum": [
                    "public",
                    "private"
                  ],
                  "example": "public"
                },
                "active": {
                  "description": "Whether the device has been properly inserted in the Knowledge Base: true, or false.\n\n_Returned by actions:_ insert, update.\n",
                  "type": "boolean",
                  "example": true
                },
                "content": {
                  "oneOf": [
                    {
                      "description": "A JSON list where information about the devices can be found.\n\n_Returned by actions:_ get_all_device.\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contextBroker": {
                            "type": "string",
                            "example": "orionUNIMI"
                          },
                          "device": {
                            "type": "string",
                            "example": "ARDUINO_ST_4201"
                          },
                          "uri": {
                            "type": "string",
                            "format": "uri",
                            "example": "http://www.disit.org/km4city/resource/iot/orionUNIMI/ARDUINO_ST_4201"
                          },
                          "devicetype": {
                            "type": "string",
                            "example": "Temperature"
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "sensor",
                              "actuator"
                            ]
                          },
                          "status1": {
                            "type": "string",
                            "example": "active"
                          },
                          "macaddress": {
                            "type": "string",
                            "nullable": true,
                            "example": "00-14-22-01-23-45"
                          },
                          "model": {
                            "type": "string",
                            "nullable": true,
                            "example": "ARDUINO_ST_4203"
                          },
                          "producer": {
                            "type": "string",
                            "nullable": true,
                            "example": "Arduino"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "example": 9.214914
                          },
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "example": 45.463701
                          },
                          "protocol": {
                            "type": "string",
                            "enum": [
                              "mqtt",
                              "ngsi",
                              "amqp"
                            ],
                            "example": "mqtt"
                          },
                          "format": {
                            "type": "string",
                            "enum": [
                              "csv",
                              "xml",
                              "json"
                            ],
                            "example": "csv"
                          },
                          "visibility": {
                            "type": "string",
                            "enum": [
                              "public",
                              "private"
                            ],
                            "example": "public"
                          },
                          "frequency": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true,
                            "example": 60
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2018-03-12T15:21:00.000Z"
                          }
                        }
                      }
                    },
                    {
                      "description": "A JSON list where information about the device attributes can be found.\n\n_Returned by actions:_ get_device_attributes.\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contextBroker": {
                            "type": "string",
                            "example": "orionUNIMI"
                          },
                          "device": {
                            "type": "string",
                            "example": "ARDUINO_ST_4201"
                          },
                          "value_name": {
                            "type": "string",
                            "example": "latitude"
                          },
                          "data_type": {
                            "type": "string",
                            "example": "float"
                          },
                          "value_type": {
                            "type": "string",
                            "example": "latitude"
                          },
                          "editable": {
                            "type": "string",
                            "example": 0
                          },
                          "value_unit": {
                            "type": "string",
                            "example": "A"
                          },
                          "order": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                          },
                          "healthiness_criteria": {
                            "type": "string",
                            "enum": [
                              "refresh_rate",
                              "different_values",
                              "value_bounds"
                            ],
                            "example": "refresh_rate"
                          },
                          "healthiness_value": {
                            "type": "string",
                            "example": 300
                          }
                        }
                      }
                    }
                  ]
                },
                "value_type": {
                  "description": "A JSON list containing the supported value types in the Knowledge Base.\n\n_Returned by actions:_ get_param_values.\n",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "actuator_canceller"
                  }
                },
                "data_type": {
                  "description": "A JSON list containing the supported data types in the Knowledge Base.\n\n_Returned by actions:_ get_param_values.\n",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "binary"
                  }
                },
                "value_unit": {
                  "description": "A JSON list containing the supported value units in the Knowledge Base.\n\n_Returned by actions:_ get_param_values.\n",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "A"
                  }
                }
              }
            }
          }
        }
      },
      "broker": {
        "description": "JSON document where the status of the operation and the possible retrieved data can be found.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "status"
              ],
              "properties": {
                "status": {
                  "description": "The mandatory status of the operation: Ok, or Ko.\n\n_Returned by all actions._\n",
                  "type": "string",
                  "enum": [
                    "ok",
                    "ko"
                  ],
                  "example": "ok"
                },
                "msg": {
                  "description": "A message related to the execution of the operation.\n\n_Returned by all actions._\n",
                  "type": "string"
                },
                "content": {
                  "oneOf": [
                    {
                      "description": "A list of the identified context brokers. \n\n_Returned by actions:_ get_all_contextbroker.\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contextbroker": {
                            "type": "string",
                            "example": "mqttUNIFI"
                          },
                          "protocol": {
                            "type": "string",
                            "enum": [
                              "mqtt",
                              "amqp",
                              "ngsi"
                            ],
                            "example": "mqtt"
                          },
                          "ip": {
                            "type": "string",
                            "example": "192.168.1.10"
                          },
                          "port": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1883
                          },
                          "uri": {
                            "type": "string",
                            "nullable": true,
                            "example": "http://www.disit.org/km4city/resource/iot/mqttUNIFI"
                          },
                          "login": {
                            "type": "string",
                            "example": "brokeruser"
                          },
                          "password": {
                            "type": "string",
                            "example": "brokerpwd"
                          },
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "example": 43.7731
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "example": 11.256
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2018-02-07T15:14:39.000Z"
                          }
                        }
                      }
                    },
                    {
                      "description": "A list of devices present on the server that can be accessed relying on the device name.\n\n_Returned by actions:_ get_config_data.\n",
                      "type": "object",
                      "properties": {
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "entityType": {
                              "type": "string",
                              "example": "Temperature"
                            },
                            "kind": {
                              "type": "string",
                              "enum": [
                                "sensor",
                                "actuator"
                              ],
                              "example": "sensor"
                            },
                            "protocol": {
                              "type": "string",
                              "enum": [
                                "ngsi",
                                "mqtt",
                                "amqp"
                              ],
                              "example": "ngsi"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "float",
                              "example": 9.214914
                            },
                            "latitude": {
                              "type": "number",
                              "format": "float",
                              "example": 45.463701
                            },
                            "contextBroker": {
                              "type": "string",
                              "example": "orionUNIMI"
                            },
                            "name": {
                              "type": "string",
                              "example": "orionUNIMI"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "ngsi",
                                "mqtt",
                                "amqp"
                              ],
                              "example": "mqtt"
                            },
                            "ip": {
                              "type": "string",
                              "example": "159.149.129.184"
                            },
                            "port": {
                              "type": "integer",
                              "format": "int32",
                              "example": 1026
                            }
                          }
                        }
                      }
                    },
                    {
                      "description": "A list of values associated with the devices present on the system.\n\n_Returned by actions:_ get_config_data_values.\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cb": {
                            "type": "string",
                            "example": "rabbitUNIMI"
                          },
                          "device": {
                            "type": "string",
                            "example": "provaMM7779"
                          },
                          "value_name": {
                            "type": "string",
                            "example": "a"
                          },
                          "data_type": {
                            "type": "string",
                            "example": "binary"
                          },
                          "value_type": {
                            "type": "string",
                            "example": "actuator_canceller"
                          },
                          "editable": {
                            "type": "string",
                            "example": 0
                          },
                          "value_unit": {
                            "type": "string",
                            "example": "A"
                          },
                          "healthiness_criteria": {
                            "type": "string",
                            "enum": [
                              "refresh_rate",
                              "different_values",
                              "value_bounds"
                            ],
                            "example": "refresh_rate"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "example": 9.214914
                          },
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "example": 45.463701
                          },
                          "protocol": {
                            "type": "string",
                            "enum": [
                              "ngsi",
                              "mqtt",
                              "amqp"
                            ],
                            "example": "ngsi"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "value": {
        "description": "JSON document where the status of the operation and the possible retrieved data can be found.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "status"
              ],
              "properties": {
                "status": {
                  "description": "The mandatory status of the operation: Ok, or Ko.\n\n_Returned by all actions._\n",
                  "type": "string",
                  "enum": [
                    "ok",
                    "ko"
                  ],
                  "example": "ok"
                },
                "msg": {
                  "description": "A message related to the execution of the operation.\n\n_Returned by all actions._\n",
                  "type": "string"
                },
                "content": {
                  "oneOf": [
                    {
                      "description": "A list of values associated with devices of the system.\n\n_Returned by actions:_ get_all_event_value.\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cb": {
                            "type": "string",
                            "example": "orionUNIMI"
                          },
                          "device": {
                            "type": "string",
                            "example": "ARDUINO_ST_4201"
                          },
                          "value_name": {
                            "type": "string",
                            "example": "latitude"
                          },
                          "data_type": {
                            "type": "string",
                            "example": "float"
                          },
                          "value_type": {
                            "type": "string",
                            "example": "latitude"
                          },
                          "editable": {
                            "type": "string",
                            "example": 0
                          },
                          "value_unit": {
                            "type": "string",
                            "example": "A"
                          },
                          "healthiness_criteria": {
                            "type": "string",
                            "enum": [
                              "refresh_rate",
                              "different_values",
                              "value_bounds"
                            ],
                            "example": "refresh_rate"
                          },
                          "value_refresh_rate": {
                            "type": "integer",
                            "format": "int32",
                            "example": 300
                          },
                          "different_values": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true,
                            "example": 10
                          },
                          "value_bounds": {
                            "type": "string",
                            "nullable": true,
                            "example": 620
                          },
                          "order": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "sensor",
                              "actuator"
                            ],
                            "example": "sensor"
                          },
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "example": 45.463701
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "example": 9.214914
                          },
                          "status1": {
                            "type": "string",
                            "example": "active"
                          },
                          "visibility": {
                            "type": "string",
                            "enum": [
                              "public",
                              "private"
                            ],
                            "example": "public"
                          }
                        }
                      }
                    },
                    {
                      "description": "The information associated with the specified value_name.\n\n_Returned by actions:_ get_event_value.\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cb": {
                            "type": "string",
                            "example": "orionUNIMI"
                          },
                          "device": {
                            "type": "string",
                            "example": "ARDUINO_ST_4201"
                          },
                          "value_name": {
                            "type": "string",
                            "example": "latitude"
                          },
                          "data_type": {
                            "type": "string",
                            "example": "float"
                          },
                          "value_type": {
                            "type": "string",
                            "example": "latitude"
                          },
                          "editable": {
                            "type": "string",
                            "example": 0
                          },
                          "value_unit": {
                            "type": "string",
                            "example": "A"
                          },
                          "healthiness_criteria": {
                            "type": "string",
                            "enum": [
                              "refresh_rate",
                              "different_values",
                              "value_bounds"
                            ],
                            "example": "refresh_rate"
                          },
                          "value_refresh_rate": {
                            "type": "integer",
                            "format": "int32",
                            "example": 300
                          },
                          "different_values": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true,
                            "example": 10
                          },
                          "value_bounds": {
                            "type": "string",
                            "nullable": true,
                            "example": 620
                          },
                          "order": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}