{
  "openapi": "3.0.1",
  "info": {
    "title": "What-If API",
    "description": "The What-If API supports the analysis of the impact of traffic restrictions (a given area closed to the traffic from a given date and time to a given date and time) on the public transport. It also supports the browsing across the network of the public transport, the displaying of timetables, and other.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://servicemap.snap4city.org/whatifapi"
    }
  ],
  "paths": {
    "/impact": {
      "post": {
        "tags": [
          "Analysis"
        ],
        "summary": "For assessing the impact of a closure scenario on the public transport.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromDateTime": {
                    "type": "string",
                    "description": "ISO 8601 datetime that indicates when the restriction begins",
                    "example": "2021-05-26T14:58:00+01:00"
                  },
                  "toDateTime": {
                    "type": "string",
                    "description": "ISO 8601 datetime that indicates when the restriction terminates",
                    "example": "2021-05-26T15:58:00+01:00"
                  },
                  "closedZones": {
                    "type": "string",
                    "description": "WKT representation of the closed zone(s)",
                    "example": "POLYGON (( 11.259135 43.7841, 11.260852 43.7841, 11.260852 43.782861, 11.259135 43.782861, 11.259135 43.7841 ))"
                  }
                },
                "required": [
                  "fromDateTime",
                  "toDateTime",
                  "closedZones"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statistics (KPI) and full details about the impact of the scenario on the public transport.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metrics": {
                      "type": "object",
                      "description": "Some statistics (KPI) about the impact of the scenario",
                      "properties": {
                        "routes": {
                          "type": "number",
                          "format": "integer",
                          "description": "The number of the affected routes",
                          "example": 13
                        },
                        "traps": {
                          "type": "number",
                          "format": "integer",
                          "description": "The number of the traps (the count of the trips such that the bus is expected to enter the closed area before of the closure, but it is not expected to leave it in time, based on the timetable of the trip).",
                          "example": 25
                        },
                        "ndr_trips": {
                          "type": "number",
                          "format": "integer",
                          "description": "The number of the trips that are affected despite not having any stop in the closed area, just because they would have traversed the closed area if it had not been closed.",
                          "example": 9
                        },
                        "trips": {
                          "type": "number",
                          "format": "integer",
                          "description": "The total number of the affected trips",
                          "example": 35
                        },
                        "agencies": {
                          "type": "number",
                          "format": "integer",
                          "description": "The number of the affected agencies",
                          "example": 3
                        },
                        "stops": {
                          "type": "number",
                          "format": "integer",
                          "description": "The number of the affected stops (intended as the number of not to be confused with the bus stops)",
                          "example": 26
                        }
                      }
                    },
                    "details": {
                      "type": "object",
                      "description": "Full details about the impact of the scenario",
                      "example": {
                        "traps": [
                          {
                            "trip": "Bus_cap_Trip_3035_999201",
                            "stop": "44 FI_173 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_cap_Trip_3035_999442",
                            "stop": "03 FI_174 Lavagnini Porta San Gallo"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_137556",
                            "stop": "32 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_138566",
                            "stop": "04 FI_174 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_140307",
                            "stop": "32 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_139417",
                            "stop": "60 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_138620",
                            "stop": "66 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_137342",
                            "stop": "54 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_138311",
                            "stop": "04 FI_174 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_137965",
                            "stop": "58 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_138338",
                            "stop": "04 FI_174 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_137989",
                            "stop": "60 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_139888",
                            "stop": "55 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_139912",
                            "stop": "04 FI_174 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_busitalia_Trip_3033_137568",
                            "stop": "55 FI_173 Lavagnini Liberta'_V"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13785652",
                            "stop": "21 FM2273 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13785653",
                            "stop": "03 FM0422 Lavagnini Porta San Gallo"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13785682",
                            "stop": "03 FM0422 Lavagnini Porta San Gallo"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13785683",
                            "stop": "21 FM2273 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13814387",
                            "stop": "21 FM2273 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13814388",
                            "stop": "03 FM0422 Lavagnini Porta San Gallo"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13814414",
                            "stop": "21 FM2273 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13814415",
                            "stop": "03 FM0422 Lavagnini Porta San Gallo"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13814441",
                            "stop": "21 FM2273 Lavagnini Liberta'"
                          },
                          {
                            "trip": "Bus_ataflinea_Trip_3032_13814442",
                            "stop": "03 FM0422 Lavagnini Porta San Gallo"
                          }
                        ],
                        "BUSITALIA": {
                          "routes": {
                            "Bus 302 A Monghidoro - Barberino Di Mugello - San Piero A Sieve - Vaglia - Firenze E": {
                              "color": "4E78BA",
                              "trips": {
                                "Bus_busitalia_Trip_3033_137965": {
                                  "path": "LINESTRING((11.2936807172777 44.0160206382781, 11.2940656905045 44.0166155799985, 11.295014896713 44.016418881009, 11.2955776101598 44.0169649194095, 11.2960039383206 44.0173061074906, 11.2963335670867 44.0175119974884, 11.2966298110265 44.0176360547666, 11.2968107592559 44.0176801718109, 11.2969711225801 44.0176935437691, 11.2971521051589 44.0176779165941, 11.2980520170507 44.0174082121826, 11.2982239405481 44.0173678103308, 11.2984027758708 44.0173590803786, 11.2985782599461 44.0173740195053, 11.3018076273566 44.017896009357, 11.3021709041211 44.0179742166582, 11.3022957514119 44.0180167154969, 11.3024038060278 44.0180685559426, 11.3026597628965 44.0182749694748, 11.3027998738435 44.0184296995764, 11.3028878736838 44.0186079881011, 11.3029308569735 44.0187916861548, 11.3030027291136 44.0196005206841, 11.3030708592682 44.0199502697623, 11.3031281893054 44.0200211388148, 11.3032161638189 44.0200778850237, 11.3034173859381 44.0201593565551, 11.3035320172887 44.0201795521218, 11.3037676785385 44.0201838015261, 11.3054433497279 44.0198393770302, 11.3063925004182 44.0196221424727, 11.3074115570668 44.0192774432612, 11.3076608780042 44.0192318913448, 11.3084053981829 44.0191673269475, 11.308765184232 44.0191150378515, 11.3095666052491 44.018869252508, 11.309690397187 44.0188442409296, 11.3099398890891 44.0188031821673, 11.3106899496658 44.0187609985433, 11.3111951935667 44.0187597776222, 11.3114523310807 44.0187950874404, 11.3116864588205 44.0188803799514, 11.3117853477688 44.0189368986155, 11.3149434148225 44.0209796623472, 11.3151541806447 44.0210654212624, 11.3152689926875 44.0210901031584, 11.3156205021912 44.0211054838635, 11.3158441889572 44.0210424274987, 11.3160481232896 44.0209527619698, 11.3166290690059 44.0206123633251, 11.3168466756775 44.0205134158332, 11.3172045332101 44.0204116219855, 11.317729659055 44.0203199371098, 11.3182751969437 44.0201918229481, 11.3183778524678 44.0201447232865, 11.3185384770362 44.0200244212023, 11.3185903881201 44.0199558436362, 11.3186106063829 44.0198744047495, 11.318589916836 44.019703765055, 11.3181427243328 44.0183938817605, 11.3180905204571 44.0182148784626, 11.3180882214278 44.0181158903541, 11.3181186463001 44.0180162382005, 11.3181854380716 44.0179293523767, 11.3182995040736 44.0178550116061, 11.318419471845 44.0178120618299, 11.3186883532742 44.0177885966655, 11.3189484314872 44.0178193282923, 11.3191905118551 44.0178684311933, 11.3200191183738 44.0180811810984, 11.3203502410749 44.0182140025567, 11.3207652053848 44.0184171444716, 11.3209795915022 44.0184758095462, 11.3211001069049 44.0184868649021, 11.3213364415756 44.0184685563834, 11.3219267935417 44.0183305106319, 11.3223071700335 44.0182867633686, 11.3225616984273 44.0182950918691, 11.3231817689778 44.0183590061138, 11.3235564854739 44.0184099029981, 11.3236764973538 44.0184479754132, 11.3237968611991 44.0184950435084, 11.3239960426371 44.0186035295746, 11.3254751334897 44.0195772712638, 11.3261098236889 44.0200145024141, 11.3264128458282 44.0203054337339, 11.3270042481852 44.0209911283554, 11.3271712462559 44.0211137693682, 11.3272665082984 44.0211568437137, 11.3273735332049 44.0211816721126, 11.3278637655837 44.0212347021017, 11.3282258339164 44.0212408257557, 11.328587346892 44.02119294054, 11.3288222800315 44.0211386325977, 11.3289349829647 44.0211093246952, 11.329252629691 44.0209768022256, 11.3295442840071 44.0208177997818, 11.329702976274 44.0206885182615, 11.3297640486761 44.0206152471523, 11.3298122467641 44.0204522073368, 11.3298227837657 44.0201638913952, 11.3298486912531 44.0200688297097, 11.329928786949 44.0199636597026, 11.330005348109 44.0199209567806, 11.3302840870899 44.01995641016, 11.3316059815757 44.0202985563753, 11.3320657455487 44.0204773403883, 11.3324516576075 44.0203082973096, 11.3326692996285 44.0202903475169, 11.3329029003968 44.0203215887554, 11.3330561143165 44.0202914485669, 11.3333095343003 44.0201917378296, 11.3335767683726 44.0200467283747, 11.3340421179678 44.0199426849443, 11.3341818049301 44.0198858112393, 11.3342780254184 44.019864471082, 11.3343026098962 44.0195862384468, 11.3344703774841 44.0185139644727, 11.3344673938253 44.0183809494137, 11.3343626509279 44.0179374349647, 11.3343262112046 44.0176050631097, 11.3344236015114 44.0172238698809, 11.3345700618514 44.0167852927959, 11.3346298897831 44.0166805337891, 11.334721378369 44.016548117096, 11.3349026859021 44.0163598471611, 11.3354719104064 44.015844029776, 11.335668908409 44.0155789100661, 11.3358964429323 44.0151781176933, 11.3361351210686 44.014862625636, 11.3371781772346 44.0139049558566, 11.3373833379007 44.0136891835766, 11.337527202728 44.0135075146277, 11.3376268861099 44.013418602485, 11.3378933213221 44.0129764970944, 11.3379610393191 44.0127950470845, 11.3380495187713 44.0123880944837, 11.3381006635166 44.0122610042588, 11.3382087126193 44.0120742269604, 11.3382946641712 44.0119599262334, 11.3393454341263 44.0108040089643, 11.339535668715 44.0105660299058, 11.3407942210131 44.0087080966657, 11.340928778637 44.0085612879121, 11.3410856791673 44.0084275257527, 11.3416374274378 44.0080650902906, 11.3418882646704 44.0078618771232, 11.3440411270763 44.0059900662278, 11.3446180688522 44.0053975184125, 11.3448115587121 44.0051639649766, 11.3449605391629 44.0049088173963, 11.3450173221778 44.0047275881952, 11.3451145503584 44.0041088748328, 11.3451534221068 44.0040270480595, 11.345275673094 44.003884988429, 11.345461657306 44.0037776322782, 11.3455677329008 44.0037394410587, 11.3463816038911 44.0035021443099, 11.3465923335448 44.0033897764974, 11.3467514362796 44.0032334532475, 11.3467960047812 44.0031380040516, 11.3468261195411 44.0029528203446, 11.3467786022649 44.0024991369753, 11.3467837136493 44.0022334383182, 11.3469167505609 44.0016139873601, 11.3469479896382 44.001338748724, 11.3469275656872 44.0009790418609, 11.3468095224941 44.0000811507083, 11.3468135087444 43.9999055068496, 11.3468336824917 43.9998240637035, 11.3468782870251 43.9997691280838, 11.3469611652709 43.9997359138739, 11.3470745283285 43.9997245808611, 11.3474511948127 43.999748349863, 11.3475875696281 43.9997275403293, 11.3478261855189 43.9996506095272, 11.3485671893475 43.999306757013, 11.3487668182711 43.9991901118338, 11.3488404857496 43.9991210729024, 11.3490468533491 43.9988197234742, 11.3491245869001 43.99875457916, 11.3492881792829 43.9986725332472, 11.3494395593258 43.9986180776961, 11.3498621386938 43.9985209717662, 11.3498787689437 43.9984625146633, 11.3499299398095 43.9984131113492, 11.3501132451073 43.9983759941936, 11.3502064766715 43.998397417109, 11.3502794297205 43.9984506503864, 11.3503259200197 43.9985163994668, 11.3503239358402 43.9985831461788, 11.3502953762448 43.9986186732283, 11.3506121895715 43.9990981239612, 11.3509655896343 43.9995590149393, 11.3512187730961 43.9998509067763, 11.3516703207655 44.0003097726408, 11.3520052298206 44.0006179873685, 11.3524204773483 44.0009470533644, 11.352850418031 44.0012533058583, 11.3536774688229 44.0017449432297, 11.3542228345832 44.002012800404, 11.3547844548469 44.0022578107553, 11.3584801624405 44.00368957536, 11.3588838375968 44.0038432941721, 11.3590130102442 44.00387663889, 11.3591101809414 44.0039286505192, 11.360394671574 44.0044332949028, 11.3646225105161 44.0060654351513, 11.3649347853132 44.0061940164627, 11.3652211129816 44.006336638471, 11.3656587161717 44.0065976678671, 11.3658980039192 44.0067727743776, 11.3662064862287 44.007040979902, 11.3665301133678 44.0073763935609, 11.3666060370284 44.0074615674783, 11.3667543960875 44.0077228682095, 11.3671783655035 44.0085296060087, 11.3671721415364 44.0078762657058, 11.3671512664362 44.0076651250836, 11.3670954534805 44.0074772155574, 11.3670083525883 44.0073259674587, 11.3662620712615 44.006517644501, 11.3658803660313 44.0060603086211, 11.3655379471809 44.0055603056211, 11.3649430791364 44.0044022159842, 11.3648235811274 44.0042201254642, 11.364714376576 44.004100843147, 11.3644289028071 44.003940196374, 11.3624774060172 44.0032015828879, 11.3623482847509 44.003136957459, 11.3620554712879 44.0029089317685, 11.3609735727419 44.002000139364, 11.3590571937995 44.0003519998218, 11.3592671086529 44.0001456207028, 11.3591627833637 43.9997500956535, 11.3590234535956 43.9994603708595, 11.356946612957 43.9964241681051, 11.3568266684018 43.9962690885896, 11.3565360885949 43.9959779805417, 11.3563118237616 43.9957080106318, 11.354947208697 43.993158137879, 11.3544310949387 43.9923327184357, 11.3543621548821 43.9921729586264, 11.3541158393583 43.9917740277738, 11.3532114847522 43.9904879767332, 11.3528375681978 43.9900618320303, 11.3526407863061 43.9899307003236, 11.352152243236 43.9897992916244, 11.3516029058617 43.9897823096884, 11.350689957757 43.9898183468573, 11.3503410318875 43.9893625522555, 11.3485520770607 43.9874112428619, 11.3480903767968 43.9869679649212, 11.3478106251998 43.9867869894683, 11.3475842332279 43.986691626132, 11.3457859629648 43.9860034519592, 11.3432525329392 43.9849874191687, 11.3430628643286 43.9849448740592, 11.3428843464878 43.9849342483298, 11.3426231982879 43.9849610378486, 11.3413603680089 43.9851798259539, 11.3404158210227 43.9853210444894, 11.3402153164017 43.9853651725581, 11.3400966378155 43.9854178666287, 11.3400006003493 43.9855094012182, 11.3399411790912 43.9855420623864, 11.3397939110321 43.9855724738152, 11.3396570112142 43.9855393089328, 11.3395667675997 43.9854508763386, 11.3395653548592 43.9853477605947, 11.3396085084653 43.9852873241764, 11.3396115631914 43.9851383806949, 11.3395841988995 43.9850864082572, 11.3394088441596 43.9849140862856, 11.3393257820822 43.9847690536334, 11.3392816450087 43.9846449002314, 11.3392068973444 43.9842412449996, 11.3391401127884 43.9836581774832, 11.3391396386805 43.9834697671976, 11.339175191714 43.9832872887149, 11.3393093913338 43.9829118684365, 11.3394980587835 43.9824828080292, 11.3395285864911 43.9823487879414, 11.3395331759156 43.9820835719317, 11.3390855774114 43.9815058036795, 11.3387619603578 43.9811447622619, 11.3381146224146 43.9804785377754, 11.3378439128002 43.9801414219964, 11.3376207113693 43.9797791553187, 11.3372211910285 43.9790428227944, 11.3370997881351 43.9788618894642, 11.3367046242197 43.9781479762333, 11.3363277253512 43.9775540176983, 11.3358247458576 43.9766504811347, 11.3345059437036 43.9744941698534, 11.3343214676455 43.9741541266076, 11.3334684468907 43.9723916553739, 11.3329794031986 43.9713281816416, 11.3328542398513 43.9710903999986, 11.3327259788615 43.9709080587957, 11.3319362373853 43.9692315885347, 11.3316400060712 43.9685371533018, 11.3314508460479 43.9681685606446, 11.3313089463868 43.9679479028634, 11.3309260381233 43.9674906828531, 11.3304532559287 43.9670817665455, 11.3299837689347 43.9667077986203, 11.3295334398734 43.9663091495432, 11.3294861877789 43.9662164798908, 11.329438987288 43.9659338412335, 11.3294142814333 43.9658758242264, 11.3293715609774 43.9658352807641, 11.3288630014104 43.9656763918427, 11.3285635005919 43.9655274790865, 11.3273693138151 43.9645593493931, 11.3271467299434 43.9643460956022, 11.3265997509696 43.9637330960038, 11.3264546235102 43.9635456399991, 11.3265985894039 43.963531557004, 11.3267640759806 43.963467032169, 11.3291830902455 43.9612355053899, 11.3294648634621 43.9609151478196, 11.3295041746137 43.9608117819027, 11.3297128995548 43.9606727245181, 11.3299005621744 43.960497363844, 11.3302806082817 43.9596424445129, 11.3303766822162 43.959313819825, 11.3303860160063 43.9591770412757, 11.3303630425617 43.959063756795, 11.3303044277505 43.9589264559334, 11.3302081214121 43.9587769438686, 11.3300895669587 43.9586550168069, 11.3297336482363 43.9584370143528, 11.3278488341054 43.9574766060531, 11.3276062252083 43.9573794950135, 11.3272884144669 43.9572116448722, 11.3270268298393 43.9572281409476, 11.3268139780998 43.9572703876611, 11.326672100176 43.9573497231411, 11.3261435144746 43.9577115390749, 11.3257400800151 43.9580765554526, 11.3253272723016 43.9583489289472, 11.3250998193909 43.9584395351298, 11.3248078826873 43.9584915164736, 11.3245387792245 43.9584889876877, 11.3241505609182 43.9584188240569, 11.3221465675323 43.9579753944529, 11.3220013639024 43.9578830497805, 11.3217880458073 43.9577090767276, 11.3215683112819 43.9574295729267, 11.3215135680781 43.9571343926905, 11.3213120572196 43.9566082743085, 11.3211081773776 43.9563112514436, 11.3209711056633 43.9562264791491, 11.320703678179 43.9561696195719, 11.3199372231868 43.9561642762137, 11.3194447910578 43.9561456284056, 11.319112924508 43.9561975018618, 11.3184099005247 43.9562482129169, 11.3180879047275 43.9562334209092, 11.3177548775185 43.956179285174, 11.3174524637314 43.9561085361863, 11.3169222463664 43.9558635964136, 11.3166144305468 43.9556513096249, 11.3163345928736 43.9554207832326, 11.3150107046774 43.9541659867695, 11.3145171095714 43.9537229114819, 11.314159082383 43.9534174297197, 11.3139185131317 43.953260437342, 11.3136220721002 43.9531247987, 11.3133523543236 43.9530366590299, 11.3117900992503 43.9527173621633, 11.3116975705281 43.9527139450673, 11.3115423756339 43.9527416820791, 11.3114348705531 43.9528228353476, 11.3112860574025 43.952860804901, 11.311198226286 43.9528591185737, 11.3110899661876 43.9528325992197, 11.3109724084979 43.9527561107809, 11.310931603764 43.9526976093383, 11.3109132578626 43.9526246681156, 11.3109490367424 43.9525084978219, 11.3110530832417 43.9524201627151, 11.3111700043256 43.9523810097791, 11.311253040437 43.9523302774978, 11.3114026692326 43.9521681074022, 11.3114185272288 43.9520837558583, 11.31147771438 43.9508611771111, 11.3115630146697 43.9503123295691, 11.3115542998028 43.9493057693641, 11.3114137145173 43.9489526232917, 11.311216055347 43.9485534470654, 11.3109279102746 43.9479011546864, 11.3106925752691 43.9475608172797, 11.3105398950523 43.947292528917, 11.3102141820758 43.9466061998674, 11.3099960499396 43.9460188681868, 11.3097969596716 43.945380386037, 11.3087318630711 43.9433946002772, 11.308658735778 43.9431926558286, 11.308490605227 43.9425798901282, 11.3083396828373 43.942343025561, 11.3080697461199 43.942078993299, 11.3065709988413 43.9411694828332, 11.3055261531239 43.9407289955701, 11.30548984732 43.9405385552983, 11.3054649094023 43.940511146447, 11.305024639464 43.9403077692961, 11.3048942824564 43.9402299471, 11.3048780445691 43.9401935829791, 11.3048955418607 43.9400873273853, 11.305052887624 43.939961605925, 11.3055115773055 43.9402744288254, 11.3058400296089 43.9405341209449, 11.3057675510713 43.9405736310481, 11.3056132699918 43.9407057731731, 11.3055261531239 43.9407289955701, 11.304598812279 43.940346633059, 11.3038960499634 43.9400102316271, 11.3035830818839 43.9397647242224, 11.303347274023 43.939536216301, 11.3016959332791 43.9374416685485, 11.301425178926 43.9371690152631, 11.3011531012932 43.9369451224358, 11.3006437885695 43.9366163891415, 11.2987125341008 43.9357245539242, 11.2977912760569 43.9352403365298, 11.2943239768647 43.933212912464, 11.2932542596361 43.9324256496521, 11.2917275007074 43.9312362235173, 11.2912939344448 43.9309272977117, 11.2910643546963 43.930726821555, 11.2908531898328 43.9304901829134, 11.2904833993177 43.9299573984345, 11.290187410684 43.9294445151708, 11.2900938190282 43.9292305973273, 11.2900719215763 43.9289904794066, 11.2901525834176 43.9287483303263, 11.2904063291601 43.9282650580753, 11.2907279304445 43.9275232040084, 11.2907383012268 43.9272537225385, 11.2906170200356 43.9269230014915, 11.2905218938088 43.9268044211672, 11.2894330848398 43.9256580128766, 11.2889379303984 43.9251784102206, 11.288601027217 43.9246846895734, 11.2885475651353 43.9245069313611, 11.2886590915041 43.9239843019113, 11.2886443322771 43.9235995203413, 11.2886124573284 43.9233871554686, 11.2883737710972 43.9229431760201, 11.2882378932789 43.9227467635446, 11.2867944614218 43.9218463669373, 11.2862909698796 43.921514663737, 11.2857765304003 43.9212091186647, 11.2855602308511 43.921025978908, 11.2853244114749 43.9207786295954, 11.2851651102534 43.9205848449861, 11.2850250387868 43.9203338238963, 11.2849490189083 43.9200969052916, 11.2849381785568 43.9198137938714, 11.2849860713998 43.9192854289909, 11.2849274601601 43.919037312596, 11.2848177168722 43.9187660679562, 11.2846549167246 43.9185469251726, 11.2844076051111 43.9183406768123, 11.2840109277942 43.9180769412894, 11.2836387436117 43.9178004537195, 11.2833885133814 43.9175739283058, 11.2831757540019 43.917299429565, 11.2826926629761 43.9163670901663, 11.2826811975199 43.9161970469005, 11.2827670383125 43.9159724307604, 11.2829120285208 43.9157277622805, 11.2829749439737 43.9150256364498, 11.2829721773476 43.9147584858417, 11.2829284267718 43.9144474922034, 11.2828529441416 43.9141892389509, 11.2827366240382 43.9135673650339, 11.2826896637938 43.9133880575098, 11.2825561792422 43.9130369855476, 11.2825168983031 43.9129477375472, 11.282393955382 43.9127648164421, 11.2822975285705 43.9127020996211, 11.2811558091639 43.9121468062177, 11.280745531789 43.9119066638988, 11.2800078153533 43.9107659554859, 11.2799038693958 43.9105604823035, 11.2798540345875 43.9103936554564, 11.2798350864155 43.9098649094026, 11.2799084238606 43.9097112896313, 11.280601027218 43.9088588941892, 11.2807695102954 43.9086141512114, 11.2810377228818 43.9080038627164, 11.2810989503978 43.9076377358147, 11.2810963929757 43.9072774744665, 11.281124009262 43.9069247134516, 11.2812152445321 43.9065748233023, 11.2813333776014 43.9062216948212, 11.2813266892969 43.9060238456102, 11.2812187311468 43.9055970841492, 11.2813584123875 43.9047031464157, 11.2813956582029 43.9042570085737, 11.2814464499559 43.904087181907, 11.2815873220521 43.9038404681681, 11.282076694936 43.9031073651512, 11.2821208973376 43.9030193298812, 11.2821349526564 43.902921183015, 11.2821363646588 43.9028245492341, 11.2820671744675 43.9024575160325, 11.2818672801854 43.9020296207262, 11.2818104878443 43.9018598723929, 11.281807162803 43.9017761179454, 11.281839330004 43.9016045023284, 11.2819592198267 43.9013563165404, 11.2820185328177 43.9012792335367, 11.2830683928496 43.9001602982243, 11.2831449243252 43.8999734801277, 11.2832809190391 43.8992609399106, 11.2833936003275 43.8989124196021, 11.2836028270415 43.8983893752714, 11.2836270983904 43.898193788042, 11.2835798393127 43.8980096246422, 11.2835277844353 43.8979182012738, 11.2833915347738 43.8977544538051, 11.2830271062496 43.8973899916078, 11.2829136520119 43.8972394729531, 11.2828622827183 43.89711382294, 11.2828315823253 43.8969034886998, 11.2828538643232 43.8967307197562, 11.2828891923145 43.8966484435471, 11.2835022373936 43.8955697451487, 11.2845426429655 43.8938357872963, 11.2852122199405 43.8926741983976, 11.2855208928738 43.8922941280408, 11.2856681753553 43.8921535427589, 11.2859200694796 43.8919672261206, 11.2861206385975 43.8918652740941, 11.2862379169075 43.8918291570128, 11.2864233232943 43.891554615913, 11.286553510594 43.8914203101971, 11.2866417378569 43.8913592817005, 11.2868345738915 43.8912639004889, 11.2876497020173 43.8910744823468, 11.2877659846984 43.8910295097294, 11.2878777541874 43.8909742261907, 11.2879785422133 43.8908785643447, 11.2880529015958 43.8907884820137, 11.288086679868 43.8906887687255, 11.2881087579696 43.8903258523818, 11.2882722697655 43.8898949184698, 11.2882984859379 43.8897018120011, 11.2882137893918 43.8894309779903, 11.2880389685935 43.8890953246722, 11.2879822763819 43.8889250368891, 11.2880055048134 43.8886636550167, 11.2880700733925 43.8885000314846, 11.2882342102867 43.8882610360541, 11.2884398846972 43.8880404752889, 11.288833349615 43.8876850626126, 11.2888991649586 43.8876028037443, 11.2889475996233 43.8874113225789, 11.2889357136448 43.8870426041479, 11.288911552308 43.886951344362, 11.2888334620457 43.8867716721241, 11.2886059820678 43.8864553515359, 11.288546485222 43.8862865606954, 11.2885327888182 43.8861142411829, 11.2886197611989 43.8856743962101, 11.28911459251 43.8840012036021, 11.2891570908449 43.8838173139953, 11.2891527263881 43.8837131428068, 11.2891027054464 43.8836129477796, 11.2887463730825 43.883347917677, 11.2885367630014 43.8831337867235, 11.2884412669824 43.8829740001002, 11.2883935598906 43.882804162571, 11.2883891638182 43.8827186288827, 11.2884686852469 43.8823670757957, 11.288977868392 43.8806043723232, 11.2890024542917 43.8804598261277, 11.2889778065867 43.8799723388678, 11.2890092393629 43.8797985746442, 11.2890595665869 43.8796274028511, 11.2891359568175 43.8794607505643, 11.2893607437091 43.8791518421858, 11.2895871186554 43.8789461698871, 11.2902937122213 43.878438800431, 11.2903744232514 43.878359032972, 11.2911386352337 43.8772251304242, 11.2913610367179 43.8768674677414, 11.2913942866061 43.8767867609536, 11.2914568446074 43.8766199343839, 11.2915483358841 43.8760942840885, 11.2916560197416 43.8758351680561, 11.2918323477848 43.8754966155473, 11.2919110973717 43.8752262854329, 11.2919181168236 43.875039325083, 11.291831357744 43.8747840786168, 11.2916472294323 43.8744308219125, 11.2908613941592 43.8732329340147, 11.2908034603641 43.8730624920568, 11.2907765518192 43.8728929584033, 11.290807081565 43.8727218226007, 11.2908435637845 43.8726378098917, 11.2914826363154 43.8714653586924, 11.2915116108918 43.8713738435233, 11.291518041294 43.8711812227943, 11.2914317824192 43.87073287559, 11.2913982565943 43.8703777355502, 11.29140636849 43.8702029977445, 11.2914776673739 43.8697578819794, 11.291514640566 43.869680251557, 11.2915712504978 43.8696181630998, 11.291650420406 43.8695569724911, 11.2917466915988 43.8695101141766, 11.291855456243 43.8694742592946, 11.2926893347481 43.8693037470149, 11.2929299952683 43.8692349022459, 11.2931425075245 43.8691297983594, 11.2944619831814 43.868291377621, 11.2949986857093 43.8677942336972, 11.2951705504733 43.8676776081333, 11.2953778131346 43.8676272559471, 11.2957489807661 43.8676095325391, 11.2960001664458 43.8675817051276, 11.2961281786991 43.8675546426919, 11.2962560212433 43.8675037246246, 11.2963527133629 43.8674323648238, 11.2964846949771 43.8672656701285, 11.2972182197075 43.8659322877539, 11.297542256773 43.8655562723287, 11.2977812922242 43.8653582517845, 11.2978721600604 43.8653135677638, 11.2979710696956 43.8652903299471, 11.298080211462 43.8652969574041, 11.298428510082 43.8653936679585, 11.2986808149857 43.865440540025, 11.2988334295366 43.8654385489783, 11.298978264919 43.865366938259, 11.2990507195777 43.8652867905353, 11.2994274270754 43.8647146067414, 11.2998039072032 43.8642499263865, 11.3008991394094 43.8630446470981, 11.3010012452884 43.8628620727732, 11.3009985451711 43.8627563376472, 11.3009461749681 43.8626565549669, 11.300846139048 43.8625727680556, 11.3003098781268 43.8623382274435, 11.3000376509718 43.8621710249906, 11.2990085097957 43.8613927851981, 11.2985594149478 43.8609748839073, 11.2984058717657 43.8607355129948, 11.2983099555711 43.86048030685, 11.2982464500695 43.8602168856562, 11.2978171927789 43.8576205770331, 11.2977675336907 43.8575295615653, 11.297690570576 43.8574403557971, 11.297312048951 43.8571969555028, 11.2971639972145 43.8570612811931, 11.2963584230073 43.8561559843316, 11.2962353657072 43.8560036002175, 11.2961531917963 43.8558466126993, 11.2960917011183 43.8555899021288, 11.2960712274944 43.8550565936372, 11.2960889261339 43.854882382689, 11.2961634682654 43.8546267189405, 11.2963109119116 43.8543902973238, 11.2964461611266 43.8542478458245, 11.2965256100605 43.8541816042365, 11.297191770603 43.8537771920469, 11.2974346358701 43.8535537054172, 11.2975348036059 43.8533726134717, 11.2975601498764 43.8531806018125, 11.2975504653167 43.8529932562664, 11.2974866427041 43.8528022278741, 11.2973524801589 43.8526359329504, 11.2971806706947 43.8524936237172, 11.297078202549 43.8524301398547, 11.2969664003996 43.852373055933, 11.2965099535414 43.8522345785339, 11.2963319487057 43.8521284961188, 11.2961784110768 43.8519986028199, 11.2960373923725 43.8517540247128, 11.2958817258143 43.8515880702467, 11.2952541077898 43.8512845749591, 11.2950731278958 43.8511753991555, 11.2949951236039 43.8511106115459, 11.2948902411548 43.8509613719879, 11.2948125469846 43.8507911484291, 11.2946600619922 43.8505393261188, 11.294223448378 43.8499832243451, 11.2940394746862 43.8498412446565, 11.293393332583 43.8495665617293, 11.2933090231164 43.8495059510631, 11.2932383193483 43.8494432664995, 11.2931281408844 43.8492822471329, 11.2929516964831 43.8490736695388, 11.2924978019028 43.8486989659582, 11.2921976764914 43.8484150801699, 11.2919154416581 43.8481207508082, 11.2917328116169 43.8478933882858, 11.2908038304103 43.8460371578072, 11.2906976413792 43.8457817905014, 11.2905323729777 43.8450717662095, 11.2903774503414 43.8446351471869, 11.2901730636989 43.8442061821833, 11.2891195835421 43.8422305269447, 11.2888245558261 43.8415127462148, 11.2888196526186 43.8412739843933, 11.2888543043926 43.8410807074154, 11.2888576022251 43.8408612285816, 11.2887558112623 43.8403008260794, 11.2887560432029 43.8401637897352, 11.2889761796023 43.8395612829303, 11.2892561219804 43.8384412321568, 11.2896464154846 43.8372082267736, 11.2896762010023 43.8370211692948, 11.2896761594661 43.8365811739222, 11.2896062015809 43.8363911639072, 11.2893192620457 43.835849713806, 11.289166383757 43.8356984339353, 11.2889231569343 43.8353878288804, 11.288627496149 43.8348931638868, 11.2884461654956 43.8346528046306, 11.2879279427385 43.8341208213756, 11.2876640636972 43.8338064848763, 11.2874136921191 43.8332352807434, 11.2873585117156 43.8328897548763, 11.2873963073987 43.8323816554138, 11.2875379804247 43.8319182889224, 11.2875881453104 43.831689917471, 11.2876250075734 43.8310493621585, 11.2875789147832 43.8306628272223, 11.2876006876616 43.8304941948821, 11.2876900759135 43.8302216668721, 11.28771688539 43.8300739847208, 11.2877101803953 43.8298985339535, 11.287491021191 43.8286067263516, 11.2871142751794 43.8273775921394, 11.2870470100559 43.8269400443035, 11.2870053585235 43.8268390351941, 11.2869411515082 43.8267483753873, 11.2865805719664 43.8262825369567, 11.2861350504279 43.8257742658102, 11.2857188425004 43.825353150008, 11.2855824571337 43.8251733743563, 11.2854975248666 43.8249835692423, 11.2853335704545 43.8246969827261, 11.2849469558203 43.8240640607392, 11.2842237600904 43.8233107960302, 11.2839157236115 43.8229483463963, 11.2837356588701 43.8226691886907, 11.283643466585 43.8224778166073, 11.2835514950931 43.8222238068238, 11.2835293144639 43.8220756721651, 11.2835047363213 43.8213692705755, 11.2834541935747 43.8211520487734, 11.2830419121355 43.8205293495028, 11.2830211843975 43.8205203155853, 11.2829204945485 43.8203080554732, 11.2825725098023 43.8197577750287, 11.2817848044305 43.8188554062456, 11.2809852930032 43.8178872130596, 11.2805117619888 43.8171952646691, 11.2800718644734 43.8162046743458, 11.279975221875 43.8160655862002, 11.2798698801556 43.8157469540968, 11.2798301988369 43.8157231776739, 11.2798997889061 43.8156315258286, 11.2798954630795 43.8156028153637, 11.2799748519092 43.8155041268505, 11.2801922062565 43.8153438312383, 11.2803010758166 43.8152882924255, 11.2804904427449 43.8152220573179, 11.2807289471627 43.8151733785225, 11.2808532090625 43.8151630677681, 11.2811019458612 43.8151644017533, 11.284778881574 43.815603333374, 11.2850477449772 43.8156109153385, 11.2853039871381 43.8155874311513, 11.2855495058182 43.8155402225081, 11.285764419132 43.8154791358698, 11.2860178011386 43.8153644536113, 11.2861292239444 43.8152913090439, 11.2862384642206 43.8151577338348, 11.2862683242156 43.8150707430479, 11.2862678007942 43.8149495330758, 11.2862356872733 43.8148603629645, 11.2861471608864 43.8147583738224, 11.2856602093091 43.8143962680797, 11.2851080604403 43.8141981719681, 11.2849591590869 43.8141260963328, 11.2848221509985 43.8140041966911, 11.2844653107095 43.8135959261393, 11.2840763779222 43.8133333666138, 11.2839052235183 43.8131828105246, 11.2835042420067 43.8127279928653, 11.28292602699 43.8123279239534, 11.2827622577974 43.8121100832576, 11.2827738027213 43.8121032836369, 11.2825667655509 43.8117445698194, 11.2821462249407 43.8110922443791, 11.2819725926008 43.8107393427069, 11.2817648012943 43.8104454365538, 11.2817101274005 43.8104031518972, 11.280515211646 43.8096379559318, 11.280359880902 43.8095923716824, 11.2798580707633 43.8095464119532, 11.2796541921993 43.8094790259703, 11.2795437170614 43.8093876380711, 11.2793992114097 43.809133322209, 11.2792668375707 43.808969297283, 11.279160769341 43.8088923994428, 11.2781637512853 43.8083592821276, 11.2778896707909 43.8082527955423, 11.2778232870527 43.808268429363, 11.2775045786706 43.8082431964728, 11.2772856583895 43.8081984238627, 11.2768963591871 43.808081454126, 11.2766921360244 43.8079884224826, 11.2766395618592 43.8079784014759, 11.2766172839303 43.807957876459, 11.2766322630497 43.8079465090914, 11.2764463140857 43.8077981269682, 11.2758745418677 43.8072118769132, 11.2756476550865 43.8070324512938, 11.2742209928277 43.8063355208538, 11.2741911329509 43.8063574444919, 11.2737031538115 43.8060790898975, 11.273237224083 43.8058479923093, 11.2731299926231 43.8058088204711, 11.2727523090715 43.805607640631, 11.272577201092 43.8055381407043, 11.2720366222252 43.8051798317732, 11.2718431656632 43.8050459014982, 11.2717006593593 43.8049218448889, 11.2715628792206 43.8047291197549, 11.2713319639828 43.8045051301483, 11.2710507321316 43.8041337400819, 11.2702243141468 43.8039440836441, 11.2695315386256 43.8037658943169, 11.2689538497136 43.8035193603924, 11.268777895192 43.8034272831009, 11.268543192615 43.8032078614874, 11.268436725431 43.803054107925, 11.2681366654405 43.802532616878, 11.2676101204615 43.8017326840685, 11.2668154887863 43.8006675493344, 11.2665762699129 43.8005220068445, 11.2651258051737 43.7997964553054, 11.2645202079921 43.7994641483252, 11.263674919739 43.7988713804895, 11.2633978365322 43.7986045505173, 11.2632290280815 43.7984839751397, 11.2624886799754 43.7983137061752, 11.2622735541016 43.7981147622577, 11.262224410758 43.7977838391346, 11.2622068041056 43.7973173943892, 11.262170350915 43.7969869419702, 11.2620741960897 43.7966185247132, 11.2617029562351 43.7958644436702, 11.2611785439823 43.7953246074353, 11.2610921171973 43.7951281519237, 11.2611027343716 43.7949583957346, 11.2612654487862 43.7943580705185, 11.2613302665177 43.7938038702043, 11.2613067318981 43.7922031250607, 11.261206934288 43.79219360605, 11.2611662800166 43.7921254449339, 11.2604104461443 43.791725772408, 11.2595458826409 43.7907362131756, 11.2587216737532 43.78970904309, 11.2586801192463 43.7896908746038, 11.2588188419817 43.7896008393842, 11.2594907953096 43.789409812964, 11.2616637340088 43.7886017805563, 11.2626600335624 43.7885691814596, 11.2626363469955 43.7880073747355, 11.2625062879814 43.7872207998547, 11.262361726017 43.786490846698, 11.2623145800342 43.7863350951596, 11.2622618266372 43.7860065586837, 11.2622932149596 43.7858433308718, 11.2620390275307 43.7846334475301, 11.261865157563 43.7845273530566, 11.2617299818082 43.7845413291026, 11.2615328961394 43.7845313947309, 11.2613809861362 43.7845039621952, 11.2612199827551 43.7844379678587, 11.2611022990641 43.7843558959437, 11.2609614859569 43.7842175529203, 11.2609397433007 43.7841474181972, 11.2605517068831 43.7838137656654, 11.2604339522725 43.7837531795824, 11.260312787352 43.7837141042525, 11.2572649460635 43.782982749083, 11.2570353319925 43.7829473291627, 11.2536475422632 43.7821528093061, 11.2528447604013 43.7819954412947, 11.252757489199 43.7820292368716, 11.2526891170264 43.7820947342367, 11.2521420073282 43.7831860939177, 11.2518780580157 43.7833381285848, 11.2515771325566 43.7834762740096, 11.2512334283869 43.7835726120685, 11.2508136391869 43.7836225670934, 11.2498238595696 43.7836183963058, 11.247962162933 43.7836394793961, 11.2471665051931 43.7836080671632, 11.2467829493672 43.7835606148885, 11.2460051821064 43.7832797533873, 11.245812717252 43.7830569526043, 11.245706173263 43.7828154856791, 11.2456891441429 43.7826348457557, 11.245722769015 43.7824536348761, 11.2458600598838 43.7821630319978, 11.2459327916342 43.7819540690797, 11.246461411567 43.7810836725304, 11.2470776883477 43.7799687941127, 11.2471751582581 43.7798686161165, 11.2472874247731 43.7798293238547, 11.2478598667009 43.7799293118163, 11.2481805997938 43.7801413832329, 11.2489864812213 43.7804243516046, 11.2490424239018 43.7803530775998, 11.2492091302575 43.7802045457677, 11.2493049248197 43.7802154978384, 11.2497404959174 43.7803060229999, 11.2498939877451 43.7803748841686, 11.2500311444669 43.7804694973841, 11.2502702025843 43.7805735626955, 11.2505414662959 43.7806355754584, 11.2509557549629 43.7807043918066, 11.2515177385624 43.7807820912883, 11.2518164213657 43.7807967892423, 11.2519774071772 43.7807841786731, 11.2520923874382 43.7807174884723, 11.2544464619586 43.7797377339595, 11.25372563151 43.778873622041, 11.2526849542589 43.777671137893, 11.252572428899 43.7776017232121, 11.2520133460708 43.7771771770532, 11.2516083478206 43.7769296700365, 11.2515593520849 43.7768751094023, 11.2507326855104 43.7763560286379, 11.2506364213327 43.776342536457, 11.2503641941238 43.7762272849373))",
                                  "headsign": "Stazione Largo Alinari",
                                  "criticality": "High - Service Disruption",
                                  "dates": [
                                    "2021-05-26"
                                  ],
                                  "stops": {
                                    "58 FI_173 Lavagnini Liberta'_V": {
                                      "sequence": "58",
                                      "pos_lat": "43.78376007080078",
                                      "code": "FI_173",
                                      "pos_lon": "11.260363578796387",
                                      "arrival": "15:10:00",
                                      "name": "Lavagnini Liberta'_V",
                                      "departure": "15:10:00",
                                      "uri": "http://www.disit.org/km4city/resource/Bus_busitalia_Stop_FI_173_500"
                                    }
                                  },
                                  "direction": "0"
                                }
                              },
                              "short_name": "302 A",
                              "text_color": "000000",
                              "type": "Bus",
                              "long_name": "Monghidoro - Barberino Di Mugello - San Piero A Sieve - Vaglia - Firenze E"
                            },
                            "Bus 365 A Gaiole - Radda - Greve - Firenze": {
                              "color": "4E78BA",
                              "trips": {
                                "Bus_busitalia_Trip_3033_138311": {
                                  "path": "LINESTRING((11.2464207150419 43.7758211565949, 11.2463110321047 43.7759588287393, 11.2456453056856 43.776447183424, 11.2448699667847 43.7760847754396, 11.2416241171949 43.7783698170124, 11.241317832004 43.7785382531535, 11.2431879542268 43.7790493652534, 11.2447300105488 43.7795351966456, 11.2452817525345 43.7796857914427, 11.2454175643419 43.7797020267699, 11.2470626657978 43.7796901792499, 11.2478598667009 43.7799293118163, 11.2489776690578 43.7803092125917, 11.2503563928672 43.7807282954566, 11.2507854165595 43.7808149128964, 11.2518621592962 43.7809790748629, 11.2520364461905 43.7810462889143, 11.2522028115942 43.7811754454825, 11.2524271183168 43.7814840693408, 11.2528288104103 43.7818065159244, 11.2529951368372 43.7818737996332, 11.2566925142557 43.7827711414099, 11.2570605034668 43.7828485798036, 11.2573072354912 43.7828799363794, 11.2606546770611 43.7837068676654, 11.2608663470026 43.7837309555558, 11.2612372812803 43.78373492444, 11.2615887684333 43.7835907279584, 11.2622289727748 43.7833714297426, 11.2625331571425 43.783244876066, 11.2626123540052 43.7831842726484, 11.2631024141135 43.7826752289382, 11.2632076573907 43.7826236396092, 11.2644878699297 43.7812506190688, 11.2653093659926 43.7803916344785, 11.265376932885 43.7803454770589, 11.2655659611975 43.7801116155105, 11.2671098184669 43.7784422661949, 11.2671625236217 43.7782614698097, 11.2675266501417 43.7775687944465, 11.2676641123053 43.7773551586537, 11.2678451545018 43.777135218255, 11.2680671903965 43.7769437140646, 11.2685767010409 43.7766320183627, 11.2687646283628 43.7765867438939, 11.268873230938 43.7765430446356, 11.2706007602419 43.7747091539807, 11.2707840452947 43.7744689189058, 11.2709444596484 43.774185581107, 11.2710462937264 43.7738766405025, 11.2710959255787 43.7734021638751, 11.2709856565793 43.7713045218198, 11.2708385348425 43.7710956914914, 11.2706311124284 43.7704880397026, 11.2704768830723 43.7701208724339, 11.2699152711265 43.7691844926822, 11.269637661879 43.7686545471348, 11.2696235924889 43.7685537175965, 11.2696537367997 43.7684853020779, 11.268642619218 43.766804413217, 11.2685930652067 43.7666575553026, 11.268582934502 43.766495420169, 11.2686257513867 43.7663583233302, 11.2687807045494 43.7662247972046, 11.2690202521591 43.7661069838358, 11.2700689201703 43.7660300684169, 11.2713354983294 43.765967146731, 11.2712707817251 43.7658196923885, 11.2709020959154 43.7642350354374, 11.2707733911631 43.7640998062075, 11.2707133681377 43.7640793214672, 11.2706627268844 43.764006312775, 11.2706351331463 43.763869640917, 11.2707239645674 43.7637812097646, 11.2712791295727 43.7635733704688, 11.2714466519723 43.7635470643315, 11.2716646467373 43.7635566773029, 11.2717234573855 43.7635931658379, 11.2722150042308 43.7635727648188, 11.2741992935647 43.7633039765922, 11.274208722163 43.7622300221138, 11.274226886618 43.7621926715223, 11.2753111181424 43.7624322992406, 11.2767426165567 43.7625940244739, 11.2770854440259 43.7626166185011, 11.2786228430591 43.7625945130847, 11.2791260275945 43.762520400953, 11.2796223494469 43.7624977183054, 11.2825349671416 43.7624598984556, 11.2826081346342 43.762398680257, 11.2827329868093 43.7623447988967, 11.2828751261421 43.7623601365994, 11.2832273422815 43.7618984512578, 11.2837561065964 43.7613759788574, 11.283940508327 43.7610632254924, 11.2839564699193 43.7609765987672, 11.2840050068656 43.760944687893, 11.2841174531494 43.7609389196065, 11.2843455242387 43.7607578904828, 11.2847178170874 43.7603737002146, 11.2847153183313 43.7603573732808, 11.2851194321028 43.7599807433151, 11.2860645986168 43.7589511157777, 11.2865189537415 43.7585024661695, 11.2865153027827 43.7584786042189, 11.2866797771358 43.7583061699607, 11.2867189714453 43.7582935765549, 11.2869346238124 43.7580389873457, 11.2880029071874 43.7569021250461, 11.2881900183001 43.7567404036098, 11.2890574293043 43.7565806913952, 11.2893047223959 43.7564829886216, 11.2894549528118 43.7564499680003, 11.2896556302917 43.7564268699424, 11.2899655330876 43.7564148423046, 11.291463061382 43.7565695255945, 11.2916328840692 43.7566249761261, 11.2918727511893 43.7566614625386, 11.2930184917791 43.7567952023447, 11.2941176411769 43.7568733474444, 11.294156627141 43.7568595283616, 11.294451005506 43.7568776322694, 11.2944924515806 43.7568988066459, 11.2964746008567 43.757024653304, 11.2974540262078 43.7570542780601, 11.2974882394027 43.757067262148, 11.2979366557405 43.7570861086994, 11.2982029410193 43.7570766531091, 11.2984458342897 43.757042767356, 11.2989093233454 43.7569434266741, 11.2984558232314 43.7560662973365, 11.2982907984616 43.7559815128001, 11.2982021815643 43.7559790657589, 11.2979371117951 43.7558009011929, 11.2977902839726 43.7554649391957, 11.2984472397102 43.755333111021, 11.2984460500575 43.7552826486912, 11.2984784941538 43.7552350192174, 11.2985239007211 43.755195228478, 11.2986263414742 43.7551695888846, 11.2979415502958 43.7537084614951, 11.2976132241656 43.7532591583122, 11.2971522391445 43.7527010187082, 11.2969431370768 43.7524762801539, 11.2966588754462 43.7522373033044, 11.295777162734 43.7512603250877, 11.2954498390066 43.7509403163873, 11.2952226929366 43.7507433852765, 11.2948518307507 43.7502391319052, 11.2946192449523 43.7499582538214, 11.2942604747066 43.7494517747961, 11.2942331391831 43.7493926592724, 11.2942245191697 43.7492613504376, 11.2942944795978 43.7488180780399, 11.2945660052731 43.7479839624609, 11.294545200387 43.7478131226221, 11.2945128901097 43.7477310670672, 11.294268004488 43.7474171383727, 11.2923351435807 43.7451054823615, 11.2916570865476 43.7442623470106, 11.2913063342111 43.7438733193621, 11.2912177882385 43.7438495378875, 11.2906862739025 43.7434856429728, 11.2903356614535 43.7433213248603, 11.289962165478 43.7431654739057, 11.2891151480324 43.7428510908022, 11.2888862371788 43.7428442483522, 11.2883927414505 43.7427575720119, 11.2877548260549 43.7426693758188, 11.2875972919047 43.7426625401461, 11.2874858955786 43.7426905100227, 11.2873344714053 43.7427040735233, 11.287202722246 43.742640743264, 11.2871754925337 43.7426037617252, 11.2871605692591 43.7425150552308, 11.2872501972825 43.742401129059, 11.2873167546355 43.7422160290714, 11.2872328233625 43.7418668240218, 11.2872393412774 43.7418293468904, 11.2872962206674 43.7417975204531, 11.2871496499549 43.7413733799506, 11.2871369707986 43.7411697408862, 11.2871517358673 43.7409476883594, 11.2872039146336 43.7407819691503, 11.2873423999591 43.7405542882901, 11.2876635851729 43.740219768392, 11.2879215821396 43.7400325503445, 11.2882028921996 43.7398608010097, 11.2891078438726 43.7393894338194, 11.2900790100237 43.7389061079585, 11.2904024225162 43.7387673624759, 11.2904930383725 43.7387078330557, 11.2907486043289 43.7386200563321, 11.290798765292 43.7386198608146, 11.2918048707618 43.7383531648917, 11.2936699414699 43.7380158265076, 11.2941350044272 43.7379089800076, 11.2943387371509 43.7378460954894, 11.2946572312738 43.7377187811827, 11.2949545417386 43.7375440827894, 11.2951703114949 43.7373738129498, 11.2954230334617 43.7371112343098, 11.2958018542338 43.7365904207483, 11.2962625735234 43.7358994136118, 11.2964920258432 43.735455100276, 11.2966202502316 43.7351182799141, 11.2968801833357 43.7343339584295, 11.296949274418 43.7340347215346, 11.296951568104 43.7337422711817, 11.296888147215 43.7334215798531, 11.295448235236 43.7285819467113, 11.2953194686726 43.7282273633437, 11.2952186669887 43.728100998037, 11.2950448979999 43.727962593205, 11.2942686664157 43.7274423835354, 11.2937507742067 43.7271194716486, 11.2933705603616 43.7268384512248, 11.2931918667824 43.7266065955392, 11.2930917456106 43.7264458211003, 11.2927365234628 43.7258011838053, 11.2927454608218 43.7257165511613, 11.2930228757321 43.7253765015528, 11.2930698169736 43.7252792213944, 11.2930517891193 43.7250931197537, 11.2930632850669 43.7242153328624, 11.2936002385136 43.7239598203813, 11.2936792747763 43.7238296160674, 11.2947360387168 43.7231564688477, 11.2949809538649 43.7229671617934, 11.2951247909868 43.7228271238278, 11.2952713724608 43.7226489338155, 11.2953322716026 43.7225379920898, 11.2957619603439 43.7215754164868, 11.2958366298046 43.721384956589, 11.295844508853 43.7213162244909, 11.2957383788905 43.7211781611124, 11.2956016239878 43.7211184307842, 11.2953350413392 43.7211253105739, 11.2951674748258 43.7212490627451, 11.2948099287378 43.7226703946059, 11.2947625630726 43.7227505871898, 11.2946932118184 43.7228053163412, 11.2945128732028 43.7228698925306, 11.2944059094555 43.7228750884923, 11.2942254091048 43.7228253781957, 11.2941130908707 43.7227453448493, 11.2940746083861 43.7226729718542, 11.2940543717706 43.7225500016456, 11.2940587963341 43.7223753483312, 11.2940292762948 43.722282815563, 11.2939191123786 43.7220799303024, 11.2938020137085 43.7219511735617, 11.292829213111 43.7212128436015, 11.2925485032325 43.7210392180461, 11.2923884691145 43.7209789417069, 11.2921219108587 43.7209167085184, 11.2918478621797 43.7209222065535, 11.2911713847809 43.721123996512, 11.2909382130074 43.7211231803968, 11.2907308657942 43.7210540492253, 11.2906473399778 43.7209992717047, 11.290528818599 43.7208536296159, 11.2905016071315 43.7206868891323, 11.2905575410298 43.7205226232608, 11.2906858068806 43.7203800462019, 11.2911724213337 43.7199725110292, 11.2914029307636 43.7197571146536, 11.291600260053 43.7195213150465, 11.2916758705952 43.7193425183297, 11.2917069876813 43.7191591219264, 11.2917154813374 43.7188870441169, 11.291653368646 43.7177171972545, 11.2916646090112 43.7173608810132, 11.2917332408783 43.7170089056685, 11.2920482783054 43.7161849722849, 11.2920622896872 43.7160869125062, 11.2920022099233 43.7158590672612, 11.2918382282205 43.7155139191521, 11.2915777924776 43.7151555795675, 11.2915385663872 43.7150741638526, 11.291393725948 43.7145472093175, 11.2911359956495 43.7138949380675, 11.2910036249944 43.7136851985491, 11.2904599737432 43.7130311860522, 11.2903650932336 43.7128703037726, 11.2903237512884 43.7127006950782, 11.2903438810777 43.7124373873916, 11.2904323953156 43.7120859143295, 11.2906301857175 43.7114718670647, 11.2906811690268 43.7112462958531, 11.2906913132975 43.7110174018264, 11.2906536499637 43.7107456189791, 11.2905535646372 43.7104350217672, 11.2903705448539 43.7100032784461, 11.2902152048089 43.709761207352, 11.2896897392433 43.7090906377413, 11.2895985230243 43.7089279705968, 11.2894577929812 43.7084950180147, 11.2894606800549 43.7082318757823, 11.2895146463029 43.7077391092008, 11.289622602678 43.707014745838, 11.2896892054671 43.7068240842914, 11.2898015875744 43.7066717993974, 11.2915879719214 43.7052247088531, 11.2922642060305 43.7046962282281, 11.2929456273776 43.7039395788686, 11.2930863300289 43.7037336341559, 11.293140450409 43.7036004653925, 11.2931777054849 43.7034188357359, 11.2932362371692 43.702835129368, 11.2932417175534 43.7024711847514, 11.2930063864175 43.7005437399436, 11.2929904392551 43.7000083468938, 11.2930626473004 43.6996563881602, 11.2933136938873 43.6988524611809, 11.2933563502758 43.6985814974068, 11.2933886211602 43.6982204361335, 11.2933961430602 43.6973633239188, 11.2932551178001 43.696514856687, 11.2931314933713 43.696091927073, 11.2929506134793 43.6957024620366, 11.2928477289036 43.6953054355501, 11.2928326502782 43.6942746994438, 11.2928614258169 43.6941750806552, 11.2929051801373 43.6941021747333, 11.2930345327772 43.6939555211216, 11.2933848418823 43.6937459092103, 11.2935224650089 43.6935720774156, 11.2936161886607 43.6933876035956, 11.2938441119311 43.6931917913685, 11.2939400042859 43.6931455683591, 11.2941606029453 43.6930733417988, 11.2945836868315 43.6930233387216, 11.2947083212238 43.6929922040507, 11.2948680389186 43.6928984198349, 11.2949381567559 43.6928043644247, 11.2949363942187 43.6926118130111, 11.2947815044171 43.692223898233, 11.2947742110576 43.6920587387753, 11.2948998971585 43.6918177990681, 11.2951817399952 43.6914679300105, 11.2953649726485 43.691177574426, 11.2958026246059 43.6902384393803, 11.2959810011327 43.689801511791, 11.2960331826587 43.689390439398, 11.295977790386 43.6888493560543, 11.295975227324 43.6885871328016, 11.2960011645903 43.6883791690478, 11.2962019951508 43.6876399898673, 11.2962961157561 43.6872008542851, 11.2963448479696 43.6867635694917, 11.2962562692403 43.6859136277981, 11.2961793216454 43.6857260985309, 11.2959660148504 43.6854602784396, 11.2958961220194 43.6853356318305, 11.295719830639 43.6851050804123, 11.295388591758 43.6847560942084, 11.295014293881 43.6845385229039, 11.294739843389 43.6844585028852, 11.2942210157694 43.6842681064475, 11.2940800008483 43.6841589458467, 11.2939235909121 43.6839977041279, 11.2937796863113 43.6837619978866, 11.2936094738258 43.6832837213444, 11.293344237815 43.6827128148547, 11.2931321916259 43.6821208261789, 11.2929233936864 43.6811715244589, 11.2928541390916 43.6809478800787, 11.2928482364339 43.6804403559537, 11.2928635794455 43.6803139967724, 11.2928188829549 43.6779604508977, 11.2928308288281 43.6775820591032, 11.2928173467702 43.6769025569841, 11.2927664292134 43.6766649829108, 11.2927080948764 43.6765175940427, 11.2923568087403 43.6760069344701, 11.2922065637407 43.6757263347846, 11.2921511742818 43.67549335174, 11.2921314584587 43.6750570719689, 11.2920067558274 43.6744698371868, 11.2919987293527 43.6741368641581, 11.2919097371831 43.6731842672606, 11.2919042873427 43.6728782522766, 11.2919489158974 43.6726657726675, 11.2921681647254 43.672112154081, 11.2921921692479 43.6717245168249, 11.2921149206215 43.6714874705325, 11.2920022563697 43.6710125385607, 11.2919847241608 43.670877835555, 11.2920006058961 43.6706434224824, 11.2921395144524 43.6698123027265, 11.2923995244822 43.6684970589616, 11.2924011629398 43.6683324484324, 11.2925891809419 43.6677560962611, 11.2926143402033 43.6676238968251, 11.2929373950024 43.6669061306294, 11.2931311554903 43.6662944962348, 11.293280290233 43.6658953436405, 11.2933345471048 43.6656916733076, 11.2934186785517 43.6649291793012, 11.2934486488257 43.6648205327019, 11.2935521041661 43.6646262354429, 11.2934591524687 43.6644406499095, 11.2933766864529 43.6644156197544, 11.2933036838646 43.6643599120503, 11.2932645654926 43.664297806882, 11.2932636347753 43.66420444292, 11.2933182263811 43.6641213991214, 11.293387602052 43.6640818912088, 11.2934786159961 43.6640591008112, 11.2936313415676 43.6640712810937, 11.2937244181816 43.664118633953, 11.2938100628003 43.6641091929087, 11.2938506498554 43.6640869583826, 11.2942382575279 43.6633686002361, 11.2942878478849 43.6632460563839, 11.2943779332774 43.6628435844167, 11.2944232582718 43.6624870314176, 11.2944769867459 43.6623103809077, 11.2945257111259 43.6622058608892, 11.2950075943015 43.661426371546, 11.2952966650082 43.6608353286188, 11.2953554374249 43.6606749301562, 11.2952052505897 43.6604721188974, 11.2950524214948 43.6603670055332, 11.2950982809943 43.6602913720191, 11.2950787008318 43.6602303818857, 11.2946721012095 43.6594568119854, 11.294665739084 43.6594119233372, 11.2950170620187 43.6589751524293, 11.2952668035478 43.6587822288066, 11.2958607734691 43.6583857119645, 11.2961226330352 43.6581486981614, 11.2962224460252 43.6580965836028, 11.2964178941796 43.6580716490022, 11.2966444892107 43.6581701793761, 11.2975096309143 43.6584797075967, 11.2989122184984 43.6578975491789, 11.2991485170425 43.6578181946209, 11.3020139669802 43.6565405043836, 11.3027708847244 43.6562281315534, 11.3043494037153 43.6557551278155, 11.3048135579845 43.6556512272185, 11.3056201865315 43.6553828510108, 11.3058508201652 43.6552968538681, 11.3059501983638 43.6552038606576, 11.3060759934152 43.655186147057, 11.3061729050368 43.655149413608, 11.3067364037946 43.6549011340292, 11.307260599465 43.6546249431427, 11.3073411353374 43.6545017667197, 11.3076529317822 43.6536986484305, 11.3077776840917 43.6534350238641, 11.3079404653816 43.6531121058188, 11.3080616900998 43.65293076097, 11.3082477865933 43.6525161593915, 11.3084620164997 43.6521606915261, 11.3087437028727 43.6518263646234, 11.3106412909276 43.6497756892975, 11.3108262579737 43.6495468585747, 11.3109181311379 43.6493559236772, 11.3109396286882 43.6492699538039, 11.3111719833688 43.6480947803823, 11.31133985553 43.6474206125846, 11.3117590650779 43.6462281506908, 11.3120559986342 43.6456864254029, 11.3121213602397 43.6454915242802, 11.3125692605002 43.6428263841663, 11.3126173303339 43.6424384145061, 11.3128245802948 43.6413626226474, 11.3128849526534 43.6411993354221, 11.3131013551274 43.6408618191354, 11.3132692411452 43.6405522965174, 11.3133242671659 43.6403305920344, 11.3134083364448 43.6395664729327, 11.3134675129192 43.6393311755827, 11.3136752736275 43.6387904002722, 11.31378493332 43.6386415494965, 11.3139114895834 43.6382973891712, 11.3139397987523 43.6381679130958, 11.314039189694 43.6373473500627, 11.3140340193532 43.6370208810769, 11.3139888764155 43.6369036467254, 11.3136015624918 43.6362913391013, 11.3134448840712 43.6354391631312, 11.313469291767 43.6352676003551, 11.3135272483869 43.6351223681963, 11.3140183971113 43.6344273553973, 11.3140324187856 43.6343558278997, 11.3140153650849 43.6341941098861, 11.3139766427494 43.6340733437293, 11.3139460055507 43.6340019358107, 11.3138980030909 43.6339623911548, 11.3138388090317 43.6338735548996, 11.3137603264187 43.6336455503124, 11.3137668371137 43.6334518396803, 11.313850917007 43.6331395094572, 11.3138650090245 43.6330221772192, 11.3138606920296 43.6329097175555, 11.3138223111516 43.6327979496074, 11.3135112145267 43.6323630697741, 11.3133122985703 43.6320249580974, 11.3130889309054 43.6314937622194, 11.3130170096513 43.6313961779496, 11.3127558404753 43.6311718707059, 11.3126178539384 43.6310080947698, 11.3125583171061 43.6309102614224, 11.3123458025602 43.6304193592466, 11.3120624175102 43.6298983791337, 11.3119638315 43.6297518135979, 11.3116066623579 43.6293268638845, 11.3115126654698 43.6289432698602, 11.3114379806022 43.6283623817459, 11.3113744896721 43.6282016007017, 11.3111301913289 43.62789141486, 11.3110145828738 43.6277857077136, 11.3106058405307 43.6275103601935, 11.3100980152686 43.6272370126189, 11.3100278277223 43.6271844098335, 11.3099529929199 43.6270913841161, 11.3097374164523 43.6265600236793, 11.3094408191476 43.6259357617505, 11.3094207078902 43.6257340877445, 11.3093893949561 43.6256227375384, 11.3093004252151 43.6254253890557, 11.3089523860583 43.6244690291156, 11.3087564418507 43.6240047966974, 11.3087321824619 43.6238972431796, 11.3085907829764 43.6236840127988, 11.3085063198147 43.6235821772815, 11.3083473770006 43.623436827883, 11.3078314017229 43.6230039123117, 11.3076361071597 43.6228659542979, 11.3073994217755 43.6227536871921, 11.30631319822 43.6223029238896, 11.3048477228905 43.6218598029562, 11.304711841044 43.621790513451, 11.3046076085477 43.6216980752073, 11.3042388134211 43.6212768058591, 11.3037049715207 43.620617829557, 11.3031370530225 43.6200260324264, 11.3030422859455 43.6198973885837, 11.3026757962756 43.6191844798487, 11.3025335648991 43.6189892670717, 11.3023588261906 43.6188352222675, 11.3020879458023 43.6186380975789, 11.301032471484 43.6179345610774, 11.2998575270285 43.6168192488501, 11.2997244368892 43.6165383129702, 11.2993781691708 43.6154603357264, 11.2988007838557 43.6142519533374, 11.2987500581595 43.6141809433394, 11.2986329517756 43.6140752553593, 11.297934471123 43.6136453221296, 11.2977948227929 43.6135039260748, 11.2977643767982 43.6133942643389, 11.2977838341474 43.6132920835592, 11.2978417706905 43.6132039716433, 11.2980042159624 43.6131010358566, 11.2982980482409 43.6130760401174, 11.2983709761451 43.6130946213033, 11.2993983195756 43.6136321798544, 11.29951766146 43.6137558306408, 11.2998548678802 43.6142307416201, 11.2999516826264 43.614332335116, 11.3000430032377 43.6143710138335, 11.3001114515264 43.6143786393172, 11.3001823066523 43.6143682096216, 11.3003104414075 43.6143161098132, 11.3003371056729 43.6142435424862, 11.300323696583 43.6141762854779, 11.2993981065948 43.6124481989641, 11.2992524847949 43.6120819770618, 11.2992533570964 43.6119829189228, 11.2992784727805 43.6119103848659, 11.2995204808701 43.6115543709782, 11.299558326319 43.6114500651804, 11.2995425206644 43.6113198290759, 11.2993962036041 43.6110166484933, 11.2994061936438 43.6108723882266, 11.2995517429245 43.6105908798163, 11.2998422238385 43.6101208081978, 11.2999383869723 43.6098397574679, 11.2999153671985 43.6096016226265, 11.2997080330168 43.609038563929, 11.2996908225123 43.6087929944683, 11.2999486227009 43.6086709630103, 11.3000435939948 43.6086046468059, 11.3007708663921 43.6082293369158, 11.3012062955829 43.6080765147446, 11.3017129107179 43.607958266593, 11.3023227003489 43.6079054643576, 11.3025067055508 43.6078567379723, 11.304228095182 43.6069801918369, 11.3045144136271 43.6068123515689, 11.3046313503905 43.6067109524172, 11.3049462186508 43.6063579589551, 11.305508512823 43.6056764197014, 11.3062799399176 43.6047824097961, 11.3065175806002 43.6044759874443, 11.3067619270822 43.6043044870771, 11.3068578769671 43.6042620330012, 11.3070944854429 43.6042122372035, 11.3081497595608 43.6041864235122, 11.3084074489222 43.6041586169757, 11.3086351745813 43.6040915416516, 11.308992148062 43.6039398089089, 11.3092395801873 43.6037682408892, 11.3096664980906 43.6030258104179, 11.3096984756235 43.6029306250283, 11.3099783819882 43.6024747800474, 11.3106714205889 43.6012407671744, 11.3107991638882 43.6010581091399, 11.3109330978309 43.6009158427522, 11.3110727083427 43.6008004714661, 11.3112951927366 43.6006654188545, 11.3117728251317 43.6003991493901, 11.3120676939724 43.6002536255244, 11.3121141139446 43.6002121711164, 11.3134574350073 43.5994806325432, 11.3149363197232 43.5986514097137, 11.3150368955446 43.5986088550376, 11.3157330123474 43.5982255964097, 11.3160539868204 43.5980345144804, 11.3161848121316 43.5979328219237, 11.316340902077 43.5977630899696, 11.3167699423953 43.5971196302641, 11.316868258335 43.5969375620377, 11.3169213604367 43.5967879241819, 11.3169703491538 43.5964720162269, 11.3169620424242 43.5963954379485, 11.3168483454039 43.5960961194122, 11.3166613530824 43.5954606453319, 11.3166461753793 43.5951458252608, 11.316688575039 43.5947578058994, 11.3166639737553 43.5946412563913, 11.3166237178692 43.5945458821729, 11.3163745509406 43.5942014383502, 11.3157594424619 43.5932640152914, 11.3155303631435 43.5927014229873, 11.3154536669523 43.5925589176454, 11.3148750542237 43.5917648076463, 11.3146095587857 43.5913425127405, 11.3144293339144 43.5908824690395, 11.3143749755903 43.590595450887, 11.3144106740311 43.5901130286356, 11.3146407120321 43.5888838633318, 11.3147316017378 43.5886299183025, 11.3147724522401 43.5884212754863, 11.3148324916642 43.5878557295675, 11.3149178396798 43.5875839011939, 11.315092182779 43.5865652611671, 11.315130939841 43.5860742428667, 11.315244125801 43.5857576502238, 11.3153970745257 43.5849255291236, 11.3156689696238 43.584366611587, 11.3156945466416 43.5842266220174, 11.3159486825758 43.5840752533592, 11.3170685620082 43.5835824047317, 11.3173296639487 43.5834228053039, 11.3175455174555 43.5831976561162, 11.3177046992484 43.5829740163848, 11.3179058553833 43.5825015603557, 11.317990544665 43.5822072212209, 11.317996884916 43.5820900448858, 11.3178739099019 43.5815850144509, 11.3179452961613 43.5814457553979, 11.317965810626 43.5812747164956, 11.3179011271336 43.5810070384421, 11.3173997987995 43.5803689368464, 11.3170532397718 43.5801040595576, 11.3165831148541 43.578814345861, 11.3165622701195 43.5785131437215, 11.3165923224299 43.5783279575069, 11.3166380155336 43.5781469558745, 11.3167869954992 43.577746035514, 11.3174246371494 43.5763038101707, 11.3175495511068 43.5760810975025, 11.3189806492096 43.5731969019505, 11.3193409000616 43.5724197701456, 11.319840142414 43.571473247011, 11.3201710043376 43.570777741515, 11.3202967353957 43.5704645600881, 11.3204074885795 43.5700031190888, 11.3206163451903 43.5694361447265, 11.3206903976886 43.5693491028872, 11.3207744232573 43.5693203880724, 11.3209292547829 43.5692812278966, 11.3214542503065 43.5692075358721, 11.3217257613076 43.5691434956341, 11.3219553310741 43.569035288142, 11.3221970915597 43.5688818135766, 11.322426305143 43.5687240918072, 11.3224958834903 43.5686416433139, 11.3226025232079 43.5683153422158, 11.3227671253676 43.5674836498831, 11.3227316864045 43.5673268051219, 11.3224179444584 43.5668154659004, 11.3223298833704 43.5664976236306, 11.3223411629415 43.5662272810763, 11.3224711413476 43.565783455802, 11.3225567783282 43.5653135214125, 11.3225952965806 43.5651801834368, 11.322690560328 43.5649686578318, 11.3229735007848 43.5646387725248, 11.3230983751486 43.5644246464018, 11.3231499921596 43.5639959184209, 11.3232518189542 43.56370572798, 11.3237492759159 43.5629978213088, 11.32381830779 43.5628208442642, 11.3238788727979 43.5624639642619, 11.3239142480649 43.5623777091627, 11.3241389227428 43.5620625101514, 11.324231322683 43.561889559429, 11.3243264474507 43.5616265156429, 11.324369013285 43.5614455746923, 11.3244019324373 43.5611747923815, 11.3243558093058 43.5609011159916, 11.3242124123269 43.5605528861883, 11.3241053194127 43.5603839929718, 11.3238304890963 43.5600789526742, 11.323291345996 43.5595812031881, 11.3231793021854 43.5595249567205, 11.3227249626252 43.5593811288781, 11.3226209975341 43.5593337214057, 11.3224647814307 43.5592153457351, 11.3224307415417 43.5591350037262, 11.3224212713757 43.5590496604761, 11.3224317127702 43.5588783768203, 11.3224591833731 43.5587877809005, 11.3228135761948 43.5577406431866, 11.3229598849008 43.55740002796, 11.3230936973818 43.557257749352, 11.3233460498512 43.5570590379252, 11.3246073225787 43.5556107922824, 11.3246517980664 43.5555198498713, 11.3246708187394 43.555330383877, 11.3246298794989 43.5551511414263, 11.3245050515555 43.5548025339165, 11.3244971256996 43.5547171593748, 11.3245187523942 43.5546356855564, 11.3245589344994 43.5545538342716, 11.3246242030964 43.5544804764046, 11.325181251685 43.5539964452861, 11.3253717219422 43.5537584715388, 11.3253959205173 43.5536634395598, 11.3253828356637 43.5535646644025, 11.3253235361112 43.5534713315639, 11.325090882818 43.5533770241857, 11.3247305830198 43.5533033207679, 11.3245022346931 43.5532404377893, 11.3243039470289 43.5531544334981, 11.3242348636041 43.5530883103915, 11.3241635213987 43.5529231917392, 11.3241525038934 43.5528378800293, 11.3242124049898 43.5519407867371, 11.3241944901348 43.551756573845, 11.3241334544034 43.5515777398579, 11.3237941226808 43.5508013128996, 11.3235885920301 43.5505668923852, 11.3231615938595 43.550246936443, 11.3230921693822 43.5501718157683, 11.3229871639346 43.5500163844183, 11.3229189214298 43.5498512018856, 11.3229243577558 43.5495899819775, 11.3232966333145 43.5481238024686, 11.3236238927163 43.5466945519422, 11.323711787309 43.5464451608105, 11.3238160364275 43.5463394974507, 11.3240685356219 43.546226317108, 11.3259346727923 43.5456661295194, 11.3262210052387 43.5455477538758, 11.3265722471543 43.5453470219966, 11.3270404425546 43.5450493678073, 11.3271352462223 43.5449799088672, 11.3271663157862 43.544902744033, 11.3271567932945 43.5446553340766, 11.3270959543397 43.5445620333731, 11.3270083258079 43.5444962895045, 11.3268578296794 43.544445331379, 11.3266267673157 43.544391511542, 11.3254853976878 43.5442031556039, 11.325044943228 43.5441761029926, 11.3246572373 43.544192994526, 11.3245280734541 43.5442541465954, 11.3241722027624 43.5444954833657, 11.3240157278651 43.5445706959927, 11.3237673449019 43.5446297698539, 11.3235849126515 43.5446334795052, 11.3232341161158 43.5445640798029, 11.3221923451593 43.5441890885001, 11.3219497743814 43.5441174854876, 11.3217999741235 43.5440845140996, 11.3216517285211 43.5440920279402, 11.3214876855727 43.5441313757469, 11.3213818816094 43.5441965515899, 11.3213362163963 43.5443370378289, 11.3212419667442 43.5463152818006, 11.3212124762394 43.5465949979363, 11.3211824344459 43.5466991516036, 11.3209717127053 43.547014062021, 11.3209164630611 43.5473483238982, 11.3208630560831 43.5474484501358, 11.320753824137 43.5475857252085, 11.3206306608475 43.5476422491089, 11.3204482191064 43.5476459539583, 11.3202649141272 43.5476271666038, 11.3201193914527 43.5475445854208, 11.319378536962 43.5467410664507, 11.3192860540093 43.5466746291734, 11.3191316042816 43.5466012327666, 11.3189826543754 43.5465502331075, 11.3188283832002 43.5465218498004, 11.3185713895042 43.5465180609997, 11.3182580486219 43.5465379233184, 11.3181261147318 43.5465270946442, 11.3179979553123 43.5464936787979, 11.3178745957653 43.5463836344261, 11.3178129051231 43.546267835498, 11.3177085353514 43.5456036741636, 11.317627937201 43.5453982205391, 11.3175052632622 43.5452656532655, 11.3172632063166 43.545167016913, 11.3170678790876 43.5451169570607, 11.3167304583542 43.5451007897281, 11.3164112160211 43.5451312945092, 11.3162276570263 43.5451278023128, 11.3160893946469 43.5451007775289, 11.3160532992338 43.5449259346684, 11.3160876266964 43.5446911403021, 11.3162945475607 43.5440341729863, 11.316628513869 43.5428569097594, 11.3166851026356 43.5427414046069, 11.316795154005 43.5426012371799, 11.3171466025347 43.5423062448765, 11.3172212270519 43.5421741120878, 11.3172354753138 43.5421017919217, 11.3172179365373 43.5419670904038, 11.3169333612827 43.5410814885023, 11.3168778538974 43.5408845289042, 11.3168787051622 43.5408259874282, 11.3169403496658 43.5406581664818, 11.3172358709026 43.540189412442, 11.3173458034853 43.539934143617, 11.3173493928096 43.5397855084663, 11.3171616841461 43.5392573479116, 11.316628334082 43.5379255491947, 11.3165661317171 43.5378014336918, 11.3164348078929 43.5376386415564, 11.3162406954505 43.5374579981258, 11.3160477933593 43.5373493611235, 11.3156024261878 43.5371383514001, 11.3154895214698 43.5371822088133, 11.3154012600539 43.5372663979994, 11.3151031298342 43.5372238286503, 11.314444375307 43.5371702565717, 11.3142360214102 43.5371024468148, 11.3136987541225 43.5367262585361, 11.3138315929855 43.5366315406537, 11.3140890132322 43.5368096249837))",
                                  "headsign": "Ferruzzi",
                                  "criticality": "High - Service Disruption",
                                  "dates": [
                                    "2021-05-26"
                                  ],
                                  "stops": {
                                    "04 FI_174 Lavagnini Liberta'": {
                                      "sequence": "04",
                                      "pos_lat": "43.78358459472656",
                                      "code": "FI_174",
                                      "pos_lon": "11.260592460632324",
                                      "arrival": "15:34:00",
                                      "name": "Lavagnini Liberta'",
                                      "departure": "15:34:00",
                                      "uri": "http://www.disit.org/km4city/resource/Bus_busitalia_Stop_FI_174_500"
                                    }
                                  },
                                  "direction": "1"
                                },
                                "Bus_busitalia_Trip_3033_137342": {
                                  "path": "LINESTRING((11.3190679740237 43.5730085270407, 11.3175495511068 43.5760810975025, 11.3174246371494 43.5763038101707, 11.3171355105619 43.5769291582766, 11.3166868069507 43.5780064085285, 11.3166244478069 43.5781967514538, 11.3165655315382 43.5784770621729, 11.3165831148541 43.578814345861, 11.3170532397718 43.5801040595576, 11.3173997987995 43.5803689368464, 11.3179011271336 43.5810070384421, 11.317965810626 43.5812747164956, 11.3179452961613 43.5814457553979, 11.3178739099019 43.5815850144509, 11.317996884916 43.5820900448858, 11.3179802412585 43.5822614524017, 11.3179058553833 43.5825015603557, 11.3177046992484 43.5829740163848, 11.3175455174555 43.5831976561162, 11.3173296639487 43.5834228053039, 11.3170685620082 43.5835824047317, 11.3159486825758 43.5840752533592, 11.3156945466416 43.5842266220174, 11.3157822611955 43.5843282761053, 11.3156453707786 43.5846803538754, 11.3154830372679 43.5847440458323, 11.3153970745257 43.5849255291236, 11.315244125801 43.5857576502238, 11.315130939841 43.5860742428667, 11.315092182779 43.5865652611671, 11.3149178396798 43.5875839011939, 11.3148324916642 43.5878557295675, 11.3147724522401 43.5884212754863, 11.3147316017378 43.5886299183025, 11.3146407120321 43.5888838633318, 11.3144106740311 43.5901130286356, 11.3143825077239 43.5903476962068, 11.3143749755903 43.590595450887, 11.3144293339144 43.5908824690395, 11.3146095587857 43.5913425127405, 11.3148750542237 43.5917648076463, 11.3154536669523 43.5925589176454, 11.3155303631435 43.5927014229873, 11.3157594424619 43.5932640152914, 11.3163745509406 43.5942014383502, 11.3166237178692 43.5945458821729, 11.3166639737553 43.5946412563913, 11.316688575039 43.5947578058994, 11.3166461753793 43.5951458252608, 11.3166613530824 43.5954606453319, 11.3168483454039 43.5960961194122, 11.3169620424242 43.5963954379485, 11.3169703491538 43.5964720162269, 11.3169213604367 43.5967879241819, 11.3168208243272 43.5970330628873, 11.316287784788 43.5978316938331, 11.3161848121316 43.5979328219237, 11.3159981119825 43.5980716623418, 11.3121141139446 43.6002121711164, 11.3120676939724 43.6002536255244, 11.3117728251317 43.6003991493901, 11.3112951927366 43.6006654188545, 11.3110727083427 43.6008004714661, 11.3109330978309 43.6009158427522, 11.3107991638882 43.6010581091399, 11.3106714205889 43.6012407671744, 11.3099783819882 43.6024747800474, 11.3096984756235 43.6029306250283, 11.3096664980906 43.6030258104179, 11.3092395801873 43.6037682408892, 11.308992148062 43.6039398089089, 11.3086351745813 43.6040915416516, 11.3084074489222 43.6041586169757, 11.3081497595608 43.6041864235122, 11.3070944854429 43.6042122372035, 11.3068578769671 43.6042620330012, 11.3067619270822 43.6043044870771, 11.3065175806002 43.6044759874443, 11.3062799399176 43.6047824097961, 11.305508512823 43.6056764197014, 11.3049462186508 43.6063579589551, 11.3046313503905 43.6067109524172, 11.3045144136271 43.6068123515689, 11.304228095182 43.6069801918369, 11.3025067055508 43.6078567379723, 11.3023227003489 43.6079054643576, 11.3017129107179 43.607958266593, 11.3012062955829 43.6080765147446, 11.3007708663921 43.6082293369158, 11.3000435939948 43.6086046468059, 11.2999486227009 43.6086709630103, 11.2996908225123 43.6087929944683, 11.2997080330168 43.609038563929, 11.2999153671985 43.6096016226265, 11.2999383869723 43.6098397574679, 11.2998422238385 43.6101208081978, 11.2995517429245 43.6105908798163, 11.2994061936438 43.6108723882266, 11.2993962036041 43.6110166484933, 11.2995425206644 43.6113198290759, 11.299558326319 43.6114500651804, 11.2995204808701 43.6115543709782, 11.2992784727805 43.6119103848659, 11.2992533570964 43.6119829189228, 11.2992524847949 43.6120819770618, 11.2993981065948 43.6124481989641, 11.300323696583 43.6141762854779, 11.3003371056729 43.6142435424862, 11.3003104414075 43.6143161098132, 11.3001823066523 43.6143682096216, 11.3001114515264 43.6143786393172, 11.3000430032377 43.6143710138335, 11.2999516826264 43.614332335116, 11.2998548678802 43.6142307416201, 11.29951766146 43.6137558306408, 11.2993983195756 43.6136321798544, 11.2983709761451 43.6130946213033, 11.2982980482409 43.6130760401174, 11.2980042159624 43.6131010358566, 11.2978417706905 43.6132039716433, 11.2977838341474 43.6132920835592, 11.2977643767982 43.6133942643389, 11.2977948227929 43.6135039260748, 11.297934471123 43.6136453221296, 11.2986329517756 43.6140752553593, 11.2987500581595 43.6141809433394, 11.2988007838557 43.6142519533374, 11.2993781691708 43.6154603357264, 11.2997244368892 43.6165383129702, 11.2998575270285 43.6168192488501, 11.301032471484 43.6179345610774, 11.3020879458023 43.6186380975789, 11.3023588261906 43.6188352222675, 11.3025335648991 43.6189892670717, 11.3026757962756 43.6191844798487, 11.3030422859455 43.6198973885837, 11.3031370530225 43.6200260324264, 11.3037049715207 43.620617829557, 11.3042388134211 43.6212768058591, 11.3046076085477 43.6216980752073, 11.304711841044 43.621790513451, 11.3049483432652 43.6218982881938, 11.30631319822 43.6223029238896, 11.3075303191618 43.622814068924, 11.3076361071597 43.6228659542979, 11.3078314017229 43.6230039123117, 11.3085305746255 43.623608697218, 11.3087321824619 43.6238972431796, 11.3087564418507 43.6240047966974, 11.3089523860583 43.6244690291156, 11.3093004252151 43.6254253890557, 11.3093893949561 43.6256227375384, 11.3094207078902 43.6257340877445, 11.3094408191476 43.6259357617505, 11.3097374164523 43.6265600236793, 11.3099529929199 43.6270913841161, 11.3100278277223 43.6271844098335, 11.3100980152686 43.6272370126189, 11.3106058405307 43.6275103601935, 11.3110145828738 43.6277857077136, 11.3111301913289 43.62789141486, 11.3113744896721 43.6282016007017, 11.3114379806022 43.6283623817459, 11.3115126654698 43.6289432698602, 11.3116066623579 43.6293268638845, 11.3119638315 43.6297518135979, 11.3120624175102 43.6298983791337, 11.3123458025602 43.6304193592466, 11.3125583171061 43.6309102614224, 11.3126178539384 43.6310080947698, 11.3127558404753 43.6311718707059, 11.3130170096513 43.6313961779496, 11.3130889309054 43.6314937622194, 11.3133122985703 43.6320249580974, 11.3135112145267 43.6323630697741, 11.3138223111516 43.6327979496074, 11.3138606920296 43.6329097175555, 11.3138650090245 43.6330221772192, 11.313850917007 43.6331395094572, 11.3137668371137 43.6334518396803, 11.3137603264187 43.6336455503124, 11.3138388090317 43.6338735548996, 11.3138980030909 43.6339623911548, 11.3139460055507 43.6340019358107, 11.3139766427494 43.6340733437293, 11.3140153650849 43.6341941098861, 11.3140324187856 43.6343558278997, 11.3140183971113 43.6344273553973, 11.3135272483869 43.6351223681963, 11.313469291767 43.6352676003551, 11.3134448840712 43.6354391631312, 11.3136015624918 43.6362913391013, 11.3139888764155 43.6369036467254, 11.3140340193532 43.6370208810769, 11.314039189694 43.6373473500627, 11.3139778228317 43.6379447790607, 11.3139114895834 43.6382973891712, 11.3138333151297 43.6385148875524, 11.31378493332 43.6386415494965, 11.3136752736275 43.6387904002722, 11.3134675129192 43.6393311755827, 11.3134083364448 43.6395664729327, 11.3133242671659 43.6403305920344, 11.313281796984 43.6405160272026, 11.3131551983075 43.6407706922599, 11.3128849526534 43.6411993354221, 11.3128056642051 43.6414350357549, 11.3126173303339 43.6424384145061, 11.3125692605002 43.6428263841663, 11.3121213602397 43.6454915242802, 11.3120559986342 43.6456864254029, 11.3117590650779 43.6462281506908, 11.31133985553 43.6474206125846, 11.3111719833688 43.6480947803823, 11.3109396286882 43.6492699538039, 11.3108783867324 43.649451265895, 11.3107822080828 43.6496107744237, 11.3106412909276 43.6497756892975, 11.3087437028727 43.6518263646234, 11.3084620164997 43.6521606915261, 11.3082477865933 43.6525161593915, 11.3080616900998 43.65293076097, 11.3079404653816 43.6531121058188, 11.3077776840917 43.6534350238641, 11.3076529317822 43.6536986484305, 11.3073411353374 43.6545017667197, 11.307260599465 43.6546249431427, 11.3067364037946 43.6549011340292, 11.3061729050368 43.655149413608, 11.3060759934152 43.655186147057, 11.3059501983638 43.6552038606576, 11.3058508201652 43.6552968538681, 11.3056201865315 43.6553828510108, 11.3048135579845 43.6556512272185, 11.3043494037153 43.6557551278155, 11.3027708847244 43.6562281315534, 11.3020139669802 43.6565405043836, 11.2991485170425 43.6578181946209, 11.2989122184984 43.6578975491789, 11.2975096309143 43.6584797075967, 11.2969701811559 43.6590684962453, 11.2966398663098 43.6593497479531, 11.296249818681 43.6597850795808, 11.2961057327788 43.6598961996047, 11.2958470116916 43.6601444968101, 11.2957471806983 43.660209527672, 11.2956335118794 43.660368382334, 11.2953554374249 43.6606749301562, 11.2952052505897 43.6604721188974, 11.2950524214948 43.6603670055332, 11.2944532493509 43.6600599501443, 11.2943214249719 43.6599770624015, 11.293779025211 43.6594400789603, 11.2936107636007 43.6594454001022, 11.2935059103462 43.6594294915839, 11.2928443210672 43.659946754872, 11.2925700858526 43.6603453228531, 11.2924734023566 43.6607017359362, 11.2926042523949 43.6611393430973, 11.2931039790668 43.6618539832374, 11.2933750795177 43.6625103200959, 11.2934196123929 43.6628524645682, 11.293378950749 43.6634907603703, 11.2935639465588 43.6640587542824, 11.2936313415676 43.6640712810937, 11.2937250394899 43.6641189500439, 11.2937662735925 43.6641676722019, 11.293785494958 43.6642587631825, 11.2937472234815 43.6643567257051, 11.2936852386691 43.6643951571555, 11.2934486488257 43.6648205327019, 11.2934121337449 43.664960822149, 11.2933502318981 43.6655743102117, 11.2933037137028 43.6658183418562, 11.2929373950024 43.6669061306294, 11.2926143402033 43.6676238968251, 11.2925891809419 43.6677560962611, 11.2924011629398 43.6683324484324, 11.2923995244822 43.6684970589616, 11.2921395144524 43.6698123027265, 11.2919928454216 43.6707246113748, 11.2919847241608 43.670877835555, 11.2920253005326 43.6711291225579, 11.2921921692479 43.6717245168249, 11.2921681647254 43.672112154081, 11.2919489158974 43.6726657726675, 11.2919042873427 43.6728782522766, 11.2919097371831 43.6731842672606, 11.2919987293527 43.6741368641581, 11.2920067558274 43.6744698371868, 11.2921314584587 43.6750570719689, 11.2921511742818 43.67549335174, 11.2922065637407 43.6757263347846, 11.2923568087403 43.6760069344701, 11.2927080948764 43.6765175940427, 11.2927808833618 43.6767187143091, 11.2928262888792 43.6769744055158, 11.2928188829549 43.6779604508977, 11.2928635794455 43.6803139967724, 11.2928482364339 43.6804403559537, 11.2928541390916 43.6809478800787, 11.2929233936864 43.6811715244589, 11.2931321916259 43.6821208261789, 11.293344237815 43.6827128148547, 11.2934780060914 43.6829745804211, 11.2936628272689 43.6834222063294, 11.2937796863113 43.6837619978866, 11.2938549076344 43.6839045453066, 11.2940093235314 43.6840905205753, 11.2942210157694 43.6842681064475, 11.294739843389 43.6844585028852, 11.295014293881 43.6845385229039, 11.2952771972683 43.6846818007747, 11.295388591758 43.6847560942084, 11.295719830639 43.6851050804123, 11.2958961220194 43.6853356318305, 11.2959660148504 43.6854602784396, 11.2961514317357 43.6856861444351, 11.2962381977751 43.6858464647522, 11.2963448479696 43.6867635694917, 11.2962961157561 43.6872008542851, 11.2962019951508 43.6876399898673, 11.2960011645903 43.6883791690478, 11.295975227324 43.6885871328016, 11.295977790386 43.6888493560543, 11.2960331826587 43.689390439398, 11.2959810011327 43.689801511791, 11.2958026246059 43.6902384393803, 11.2953649726485 43.691177574426, 11.2951817399952 43.6914679300105, 11.2948998971585 43.6918177990681, 11.2947742110576 43.6920587387753, 11.2947815044171 43.692223898233, 11.2949363942187 43.6926118130111, 11.2949381567559 43.6928043644247, 11.2948680389186 43.6928984198349, 11.2947083212238 43.6929922040507, 11.2945836868315 43.6930233387216, 11.2941606029453 43.6930733417988, 11.2939400042859 43.6931455683591, 11.2938441119311 43.6931917913685, 11.2936161886607 43.6933876035956, 11.2935224650089 43.6935720774156, 11.2933848418823 43.6937459092103, 11.2930345327772 43.6939555211216, 11.2929051801373 43.6941021747333, 11.2928614258169 43.6941750806552, 11.2928326502782 43.6942746994438, 11.2928477289036 43.6953054355501, 11.2929506134793 43.6957024620366, 11.2931314933713 43.696091927073, 11.2932551178001 43.696514856687, 11.2933961430602 43.6973633239188, 11.2933886211602 43.6982204361335, 11.2933563502758 43.6985814974068, 11.2933136938873 43.6988524611809, 11.2930626473004 43.6996563881602, 11.2929904392551 43.7000083468938, 11.2930063864175 43.7005437399436, 11.2932417175534 43.7024711847514, 11.2932362371692 43.702835129368, 11.2931777054849 43.7034188357359, 11.293140450409 43.7036004653925, 11.2930863300289 43.7037336341559, 11.2929456273776 43.7039395788686, 11.2922642060305 43.7046962282281, 11.2915879719214 43.7052247088531, 11.2898015875744 43.7066717993974, 11.2896892054671 43.7068240842914, 11.289622602678 43.707014745838, 11.2895146463029 43.7077391092008, 11.2894516856217 43.7084096064709, 11.2894799540818 43.7085815484135, 11.2895985230243 43.7089279705968, 11.2896897392433 43.7090906377413, 11.2902152048089 43.709761207352, 11.2903705448539 43.7100032784461, 11.2905535646372 43.7104350217672, 11.2906536499637 43.7107456189791, 11.2906913132975 43.7110174018264, 11.2906811690268 43.7112462958531, 11.2906301857175 43.7114718670647, 11.2904323953156 43.7120859143295, 11.2903438810777 43.7124373873916, 11.2903237512884 43.7127006950782, 11.2903650932336 43.7128703037726, 11.2904599737432 43.7130311860522, 11.2910036249944 43.7136851985491, 11.2911359956495 43.7138949380675, 11.291393725948 43.7145472093175, 11.2915385663872 43.7150741638526, 11.2915777924776 43.7151555795675, 11.2918382282205 43.7155139191521, 11.2920022099233 43.7158590672612, 11.2920622896872 43.7160869125062, 11.2920482783054 43.7161849722849, 11.2917332408783 43.7170089056685, 11.2916646090112 43.7173608810132, 11.291653368646 43.7177171972545, 11.2917154813374 43.7188870441169, 11.2917069876813 43.7191591219264, 11.2916758705952 43.7193425183297, 11.291600260053 43.7195213150465, 11.2914029307636 43.7197571146536, 11.2911724213337 43.7199725110292, 11.2906858068806 43.7203800462019, 11.2905575410298 43.7205226232608, 11.2905016071315 43.7206868891323, 11.290528818599 43.7208536296159, 11.2906473399778 43.7209992717047, 11.2907308657942 43.7210540492253, 11.2909382130074 43.7211231803968, 11.2911713847809 43.721123996512, 11.2918478621797 43.7209222065535, 11.2921219108587 43.7209167085184, 11.2923884691145 43.7209789417069, 11.2925485032325 43.7210392180461, 11.292829213111 43.7212128436015, 11.2938020137085 43.7219511735617, 11.2939191123786 43.7220799303024, 11.2940292762948 43.722282815563, 11.2940587963341 43.7223753483312, 11.2940543717706 43.7225500016456, 11.2940746083861 43.7226729718542, 11.2941130908707 43.7227453448493, 11.2942254091048 43.7228253781957, 11.2944059094555 43.7228750884923, 11.2945128732028 43.7228698925306, 11.2946932118184 43.7228053163412, 11.2947625630726 43.7227505871898, 11.2948099287378 43.7226703946059, 11.2951674748258 43.7212490627451, 11.2953350413392 43.7211253105739, 11.2956016239878 43.7211184307842, 11.2957383788905 43.7211781611124, 11.295844508853 43.7213162244909, 11.2958366298046 43.721384956589, 11.2957619603439 43.7215754164868, 11.2953322716026 43.7225379920898, 11.2952713724608 43.7226489338155, 11.2951247909868 43.7228271238278, 11.2949809538649 43.7229671617934, 11.2947360387168 43.7231564688477, 11.2936792747763 43.7238296160674, 11.2936002385136 43.7239598203813, 11.2930632850669 43.7242153328624, 11.2930517891193 43.7250931197537, 11.2930698169736 43.7252792213944, 11.2930228757321 43.7253765015528, 11.2927454608218 43.7257165511613, 11.2927365234628 43.7258011838053, 11.2930917456106 43.7264458211003, 11.2931918667824 43.7266065955392, 11.2933705603616 43.7268384512248, 11.2937507742067 43.7271194716486, 11.2942686664157 43.7274423835354, 11.2950897600946 43.7279961755241, 11.2952566983361 43.7281410200052, 11.2953194686726 43.7282273633437, 11.2953781819452 43.7283602464478, 11.2962830465547 43.7313518560283, 11.2969005307645 43.7334661684859, 11.296951568104 43.7337422711817, 11.296949274418 43.7340347215346, 11.2969975071993 43.7341415852955, 11.2972516020322 43.7344200973065, 11.2973664411454 43.7346092958628, 11.2967892918111 43.7352486217968, 11.2966271558259 43.7354528024545, 11.2965859120011 43.7357855036411, 11.2966047979242 43.7361287933436, 11.2965806562503 43.7361422673114, 11.2967828827445 43.7365275513011, 11.297007443988 43.7368176715228, 11.2972031809279 43.7371426185352, 11.2975442902299 43.7378663953848, 11.2976272701383 43.7380238666077, 11.2976503175531 43.7380250707848, 11.2976967547008 43.738155726748, 11.2978810938524 43.7384492813631, 11.2979252256338 43.7385792860809, 11.297931611235 43.7387133912545, 11.2978942103285 43.7389166347339, 11.2978522550828 43.7390008576179, 11.2976817039135 43.7391734982433, 11.2974329668223 43.7393391399051, 11.2970130128811 43.7395586201335, 11.2959706432182 43.7400397120685, 11.2956088680956 43.7401448957227, 11.2949889806116 43.7402941410109, 11.2945509405755 43.7403688152303, 11.293989700352 43.7404190537991, 11.2936790528972 43.7404233123212, 11.2932655216333 43.7404052465802, 11.2928429100467 43.7403672026852, 11.2921868941054 43.7403863960217, 11.2917795641434 43.740436504838, 11.2917019599683 43.7406797847639, 11.2913660611441 43.7413365484305, 11.2909678825779 43.7422676892148, 11.2909199100619 43.7425394431022, 11.2909126542421 43.7428242386815, 11.2910017611964 43.7433703342682, 11.2910496334934 43.7433822438521, 11.2910738927799 43.7434096538584, 11.2913180487792 43.7437964103897, 11.2913063342111 43.7438733193621, 11.2916570865476 43.7442623470106, 11.2923351435807 43.7451054823615, 11.294268004488 43.7474171383727, 11.2945128901097 43.7477310670672, 11.294545200387 43.7478131226221, 11.2945660052731 43.7479839624609, 11.2942944795978 43.7488180780399, 11.2942245191697 43.7492613504376, 11.2942331391831 43.7493926592724, 11.2942604747066 43.7494517747961, 11.2946192449523 43.7499582538214, 11.2948518307507 43.7502391319052, 11.2952226929366 43.7507433852765, 11.2954498390066 43.7509403163873, 11.295777162734 43.7512603250877, 11.2966588754462 43.7522373033044, 11.2969431370768 43.7524762801539, 11.2971522391445 43.7527010187082, 11.2976132241656 43.7532591583122, 11.2979415502958 43.7537084614951, 11.2986263414742 43.7551695888846, 11.2986813075277 43.7551751436701, 11.2987496722146 43.7552063445107, 11.2987979712012 43.7552550503538, 11.2988051432624 43.7553450779535, 11.2987425286815 43.7554121247538, 11.2986961644902 43.7554301553654, 11.2994027632711 43.7568372031578, 11.2984458342897 43.757042767356, 11.2982029410193 43.7570766531091, 11.2979366557405 43.7570861086994, 11.2974882394027 43.757067262148, 11.2974592610113 43.7570815187716, 11.2971638750796 43.7570672026837, 11.2971326023795 43.7570523137468, 11.2964746008567 43.757024653304, 11.2944924515806 43.7568988066459, 11.2944568130503 43.7569113564733, 11.2941352624056 43.7568916149807, 11.2941176411769 43.7568733474444, 11.2930184917791 43.7567952023447, 11.2918730030735 43.7566614522315, 11.2915816572076 43.7566733735965, 11.291566402015 43.7567290177354, 11.2915355038662 43.7567519705103, 11.2914361525886 43.7567725742, 11.2913649030639 43.756764232658, 11.2913048630755 43.7567384512377, 11.2912717067087 43.75666862781, 11.2912864936579 43.7566280569414, 11.2911724912492 43.7565777627821, 11.2899576896179 43.7564379763672, 11.2895043922478 43.7564860606664, 11.2881900183001 43.7567404036098, 11.2880029071874 43.7569021250461, 11.286988878906 43.7579802141621, 11.2865655582092 43.7584991860419, 11.2865189537415 43.7585024661695, 11.2860645986168 43.7589511157777, 11.2851194321028 43.7599807433151, 11.2849219752969 43.7601739443023, 11.2849226438557 43.7601955194394, 11.2847385042646 43.7603732754098, 11.2847178170874 43.7603737002146, 11.2843455242387 43.7607578904828, 11.2842095309233 43.760996896248, 11.2841974406724 43.7611008932285, 11.2841685591773 43.7611263626653, 11.2840419841662 43.7611656497884, 11.2837561065964 43.7613759788574, 11.2832273422815 43.7618984512578, 11.2828751261421 43.7623601365994, 11.2829130524809 43.7624137364308, 11.2829138618603 43.762451336887, 11.2828392528624 43.7625138427762, 11.2827365768565 43.7625566623912, 11.2826304513652 43.7625773211937, 11.2825835127733 43.762567460286, 11.2825422848715 43.7625282364794, 11.2825349671416 43.7624598984556, 11.2796223494469 43.7624977183054, 11.2791260275945 43.762520400953, 11.2786228430591 43.7625945130847, 11.2770854440259 43.7626166185011, 11.2767426165567 43.7625940244739, 11.2754885483379 43.7624549527594, 11.2752236967499 43.7624125310362, 11.2751966882295 43.7624796642675, 11.2751909217194 43.7632969208785, 11.2742859007983 43.7632956834608, 11.272170543894 43.7635759000121, 11.2720607060975 43.7636210220406, 11.2716857989724 43.7637205599666, 11.2710392453822 43.7640150780083, 11.2709603718396 43.7641033114481, 11.2709020959154 43.7642350354374, 11.2712707817251 43.7658196923885, 11.2713354983294 43.765967146731, 11.2713484790458 43.7663100328695, 11.2711737719339 43.7683318092029, 11.2711324362318 43.7684372030186, 11.2711290906776 43.7688933560679, 11.2710911363862 43.7695933599437, 11.2711018564179 43.770145437426, 11.2710449566515 43.7704466965094, 11.2710834291392 43.7710856947391, 11.2709856565793 43.7713045218198, 11.2710959255787 43.7734021638751, 11.2710889643621 43.7735753710027, 11.2710462937264 43.7738766405025, 11.2709444596484 43.774185581107, 11.2707840452947 43.7744689189058, 11.2706007602419 43.7747091539807, 11.268873230938 43.7765430446356, 11.2688515004899 43.7766681031928, 11.2689229727687 43.7769774761969, 11.2688706447274 43.7770575816594, 11.2689091038618 43.7772581382691, 11.2688848991323 43.7774343749678, 11.2688156579687 43.7775859416248, 11.2687031919957 43.7777607356216, 11.2685196091849 43.7779209639684, 11.2683473140801 43.7780298388807, 11.2681695244188 43.7781100625649, 11.2679513464055 43.7781719144446, 11.2675655871067 43.7782486764138, 11.2671098184669 43.7784422661949, 11.2655659611975 43.7801116155105, 11.265376932885 43.7803454770589, 11.2653093659926 43.7803916344785, 11.2644878699297 43.7812506190688, 11.2632076573907 43.7826236396092, 11.2631662637187 43.7827477575358, 11.2626938159522 43.7832736711527, 11.2626916683185 43.7833967029039, 11.2629512433295 43.7837974255069, 11.26289857747 43.7839312971225, 11.2627893492057 43.7840958065321, 11.2626903518743 43.7841715609657, 11.2619658256055 43.7844958423681, 11.261865157563 43.7845273530566, 11.2617299818082 43.7845413291026, 11.2615328961394 43.7845313947309, 11.2613809861362 43.7845039621952, 11.2612199827551 43.7844379678587, 11.2611022990641 43.7843558959437, 11.2609614859569 43.7842175529203, 11.2609397433007 43.7841474181972, 11.2605517068831 43.7838137656654, 11.2604339522725 43.7837531795824, 11.260312787352 43.7837141042525, 11.2572649460635 43.782982749083, 11.2570353319925 43.7829473291627, 11.2536475422632 43.7821528093061, 11.2528447604013 43.7819954412947, 11.252757489199 43.7820292368716, 11.2526891170264 43.7820947342367, 11.2521420073282 43.7831860939177, 11.2518780580157 43.7833381285848, 11.2515771325566 43.7834762740096, 11.2512334283869 43.7835726120685, 11.2508136391869 43.7836225670934, 11.2498238595696 43.7836183963058, 11.247962162933 43.7836394793961, 11.2471665051931 43.7836080671632, 11.2467829493672 43.7835606148885, 11.2460051821064 43.7832797533873, 11.245812717252 43.7830569526043, 11.245706173263 43.7828154856791, 11.2456891441429 43.7826348457557, 11.245722769015 43.7824536348761, 11.2458600598838 43.7821630319978, 11.2459327916342 43.7819540690797, 11.246461411567 43.7810836725304, 11.2470776883477 43.7799687941127, 11.2471751582581 43.7798686161165, 11.2472874247731 43.7798293238547, 11.2478598667009 43.7799293118163, 11.2481805997938 43.7801413832329, 11.2489864812213 43.7804243516046, 11.2490424239018 43.7803530775998, 11.2492091302575 43.7802045
[...]
