<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Are you sure to delete this My KPI Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</input>
            </button>
        </div>
            <div class="modal-body" style="padding: 0px;">
                    <!-- {{#kpidata}} -->
                    <ul class="list-group" style="border: none;">
                        <li class="list-group-item"><b>No.</b> <span style="float: right;">{{id}}</span></li>
                        <li class="list-group-item"><b>High Level Type</b> <span style="float: right;">{{highLevelType}}</span></li>
                        <li class="list-group-item"><b>Value Name</b> <span style="float: right;">{{valueName}}</span></li>
  
                    </ul>
                    <!-- {{/kpidata}} -->
                </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn deleteDashBtn" onclick="KPIDataTabler.deleteKPIData('{{#kpidata}}{{id}}{{/kpidata}}');">Delete</button>
        </div>
    </div>
</div>