<div class="modal-dialog" role="document">
        <form onsubmit="KPIDataTabler.saveKPIData(); return false;">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title"> My POI Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body" style="padding: 0px;">
                                <!-- {{#kpidata}} -->
                                <ul class="list-group" style="border: none;">
                                        <input type="hidden" id="inputIdKPIDataEdit" value="{{id}}">
                                        <input type="hidden" id="inputHighLevelTypeKPIDataEdit" value="MyPOI">
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"> <strong>Nature *</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectNatureKPIDataEdit"
                                                                        class="custom-select custom-select"></select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"> <strong>Subnature *</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectSubNatureKPIDataEdit"
                                                                        class="custom-select custom-select"></select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item" style="display:none"
                                                id="selectOrganizationKPIDataEditContainer">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Organization *</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectOrganizationKPIDataEdit"
                                                                        class="custom-select custom-select">
                                                                </select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Latitude *</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputLatitudeKPIDataEdit"
                                                                        class="form-control" type="text"
                                                                        value="{{latitude}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Longitude *</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputLongitudeKPIDataEdit"
                                                                        class="form-control" type="text"
                                                                        value="{{longitude}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div id="mapContainer" style="width: 100%; height: 250px"></div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Value Name</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputValueNameKPIDataEdit"
                                                                        class="form-control" type="text"
                                                                        value="{{valueName}}">
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Value Type</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectValueTypeKPIDataEdit"
                                                                        class="custom-select custom-select">

                                                                </select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Value Unit</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectValueUnitKPIDataEdit"
                                                                        class="custom-select custom-select">

                                                                </select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>DB of Values *</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectDBValuesTypeKPIDataEdit"
                                                                        class="custom-select custom-select">
                                                                        <option value="MySQL" {{#MySQLSelected}}
                                                                                selected{{/MySQLSelected}}>MySQL
                                                                        </option>
                                                                        <option value="ElasticSearch"
                                                                                {{#ElasticSearchSelected}}
                                                                                selected{{/ElasticSearchSelected}}>
                                                                                ElasticSearch
                                                                        </option>

                                                                </select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Data Type</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectDataTypeKPIDataEdit"
                                                                        class="custom-select custom-select">
                                                                        <option value="integer" {{#integerSelected}}
                                                                                selected{{/integerSelected}}>integer
                                                                        </option>
                                                                        <option value="float" {{#floatSelected}}
                                                                                selected{{/floatSelected}}>float
                                                                        </option>
                                                                        <option value="percentage"
                                                                                {{#percentageSelected}}
                                                                                selected{{/percentageSelected}}>
                                                                                percentage
                                                                        </option>
                                                                        <option value="string" {{#stringSelected}}
                                                                                selected{{/stringSelected}}>string
                                                                        </option>
                                                                        <option value="status" {{#statusSelected}}
                                                                                selected{{/statusSelected}}>status
                                                                        </option>
                                                                </select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Last
                                                                        Value</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputLastValueKPIDataEdit"
                                                                        class="form-control" type="text"
                                                                        value="{{lastValue}}"></input>
                                                        </div>
                                                </div>
                                        </li>


                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Last Date </strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputLastDateKPIDataEdit"
                                                                        class="form-control" type="datetime-local"
                                                                        value="{{lastDate}}"
                                                                        pattern="\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d([+-][0-2]\d:[0-5]\d|Z)"
                                                                        placeholder="YYYY-MM-DDThh:mmTZD"></input>

                                                        </div>
                                                        <div class="row" id="timezonedesignator" style="display: none;">
                                                                <div class="col-sm-4"></div>
                                                                <div class="col-sm-8">TZD = time zone designator (Z or
                                                                        +hh:mm or -hh:mm)</div>
                                                        </div>
                                                </div>
                                        </li>

                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Description</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputDescriptionKPIDataEdit"
                                                                        class="form-control" type="text"
                                                                        value="{{description}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Info</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputInfoKPIDataEdit" class="form-control"
                                                                        type="text" value="{{info}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong id="labelNoteMyPOIModal">
                                                                        Note
                                                                </strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputNoteMyPOIModal" class="form-control"
                                                                        type="text" value="{{note}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong id="labelAddressMyPOIModal">
                                                                        Address
                                                                </strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputAddressMyPOIModal" class="form-control"
                                                                        type="text" value="{{address}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong id="labelCivicMyPOIModal">
                                                                        Civic
                                                                </strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputCivicMyPOIModal" class="form-control"
                                                                        type="text" value="{{civic}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>City</strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputCityMyPOIModal" class="form-control"
                                                                        type="text" value="{{city}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Province</strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputProvinceMyPOIModal" class="form-control"
                                                                        type="text" value="{{province}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong id="labelPhoneMyPOIModal">
                                                                        Phone
                                                                </strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputPhoneMyPOIModal" class="form-control"
                                                                        type="text" value="{{phone}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong id="labelFaxMyPOIModal">
                                                                        Fax
                                                                </strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputFaxMyPOIModal" class="form-control"
                                                                        type="text" value="{{fax}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong id="labelWebSiteMyPOIModal">
                                                                        Website
                                                                </strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputWebsiteMyPOIModal" class="form-control"
                                                                        type="text" value="{{website}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong id="labelEmailMyPOIModal">
                                                                        Email
                                                                </strong> </div>
                                                        <div class="col-sm-8">
                                                                <input id="inputEmailMyPOIModal" class="form-control"
                                                                        type="text" value="{{email}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                </ul>
                                <!-- {{/kpidata}} -->
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn editDashBtn">Save</button>
                        </div>
                </div>
        </form>
</div>