<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">KPI Data Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="padding: 0px;">
            <!-- {{#kpidata}} -->
            <ul class="list-group" style="border: none;">
                <li class="list-group-item"><strong>High Level Type</strong> <span style="float: right;">{{highLevelType}}</span></li>
                <li class="list-group-item"><strong>Nature</strong> <span style="float: right;">{{nature}}</span></li>
                <li class="list-group-item"><strong>Sub Nature</strong> <span style="float: right;">{{subNature}}</span></li>
                <li class="list-group-item"><strong>Value Name</strong> <span style="float: right;">{{valueName}}</span></li>
                <li class="list-group-item"><strong>Value Type</strong> <span style="float: right;">{{valueType}}</span></li>
                <li class="list-group-item"><strong>Value Unit</strong> <span style="float: right;">{{valueUnit}}</span></li>
                <li class="list-group-item"><strong>Data Type</strong> <span style="float: right;">{{dataType}}</span></li>
                <li class="list-group-item"><strong>Last Date</strong> <span style="float: right;">{{lastDate}}</span></li>
                <li class="list-group-item"><strong>Last Value</strong> <span style="float: right;">{{lastValue}}</span></li>
                <li class="list-group-item"><strong>Last Check</strong> <span style="float: right;">{{lastCheck}}</span></li>
                <li class="list-group-item"><strong>Username</strong> <span style="float: right;">{{username}}</span></li>
                <li class="list-group-item"><strong>Organizations</strong> <span style="float: right;">{{organizations}}</span></li>
                <li class="list-group-item"><strong>Healthiness</strong> <span style="float: right;">{{healthiness}}</span></li>
                <li class="list-group-item"><strong>Ownership</strong> <span style="float: right;">{{ownership}}</span></li>
                <li class="list-group-item"><strong>Description</strong> <span style="float: right;">{{description}}</span></li>
                <li class="list-group-item"><strong>Info</strong> <span style="float: right;">{{info}}</span></li>
                <li class="list-group-item"><strong>Latitude</strong> <span style="float: right;">{{latitude}}</span></li>
                <li class="list-group-item"><strong>Longitude</strong> <span style="float: right;">{{longitude}}</span></li>
                <li class="list-group-item"><strong>Insert Time</strong> <span style="float: right;">{{insertTime}}</span></li>
            </ul>
            <!-- {{/kpidata}} -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>