<div class="modal-dialog" role="document">
    <form onsubmit="KPIValueTabler.saveKPIValue(); return false;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">KPI Value Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <!-- {{#kpivalue}} -->
                <ul class="list-group" style="border: none;">
                    <input type="hidden" id="inputIdKPIValueEdit" value="{{id}}"></input>
                    <input type="hidden" id="inputKpiIdKPIValueEdit" value="{{kpiId}}"></input>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4"><b>Value *</b></div>
                            <div class="col-sm-8">
                                <input id="inputValueKPIValueEdit" required class="form-control" type="{{validDataType}}"
                                    step="{{validStep}}" value="{{value}}"></input>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4"><b>Data Time *</b></div>
                            <div class="col-sm-8">
                                <input id="inputDataTimeKPIValueEdit" required class="form-control" type="datetime-local"
                                    value="{{dataTime}}"></input>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4"><b>Latitude</b></div>
                            <div class="col-sm-8">
                                <input disabled id="inputLatitudeKPIValueEdit" class="form-control" type="text" value="{{latitude}}"></input>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4"><b>Longitude</b></div>
                            <div class="col-sm-8">
                                <input disabled id="inputLongitudeKPIValueEdit" class="form-control" type="text" value="{{longitude}}"></input>
                            </div>
                        </div>
                    </li>






                    <li class="list-group-item">
                        <div id="mapContainer" style="width: 100%; height: 250px"></div>
                    </li>
                </ul>
                <!-- {{/kpivalue}} -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn editDashBtn">Save</button>
            </div>
        </div>
    </form>
</div>