<div class="modal-dialog" role="document">
        <form onsubmit="DeviceGrpTabler.saveGrpData(); return false;">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title">My Group Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DeviceGrpTabler.renderTable();">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body" style="padding: 0px;">
                                <!-- {{#grpdata}} -->
                                <ul class="list-group" style="border: none;">
                                        <input type="hidden" id="inputIdGrpDataEdit" value="{{id}}"></input>
                                        <input type="hidden" id="inputHighLevelTypeGrpDataEdit" value="MyGroup"></input>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Name *</strong></div>
                                                        <div class="col-sm-8">
                                                                <input required="" id="inputNameGrpDataEdit" class="form-control"
                                                                        type="text" value="{{name}}">
                                                        </div>
                                                </div>
                                        </li>                                        
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Description</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputDescriptionGrpDataEdit" class="form-control"
                                                                        type="text" value="{{description}}"></input>
                                                        </div>
                                                </div>
                                        </li>                                        
                                </ul>
                                <!-- {{/grpdata}} -->
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="DeviceGrpTabler.renderTable();">Close</button>
                                <button type="submit" class="btn editDashBtn">Save</button>
                        </div>
                </div>
        </form>
</div>