<div class="modal-dialog" role="document">
        <form onsubmit="KPIDataTabler.saveKPIData(); return false;">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title">My KPI Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body" style="padding: 0px;">
                                <!-- {{#kpidata}} -->
                                <ul class="list-group" style="border: none;">
                                        <input type="hidden" id="inputIdKPIDataEdit" value="{{id}}"></input>
                                        <input type="hidden" id="inputHighLevelTypeKPIDataEdit" value="MyKPI"></input>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"> <strong>Nature *</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectNatureKPIDataEdit" class="custom-select custom-select"></select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"> <strong>Subnature *</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectSubNatureKPIDataEdit" class="custom-select custom-select"></select>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Value Name *</strong></div>
                                                        <div class="col-sm-8">
                                                                <input required="" id="inputValueNameKPIDataEdit" class="form-control"
                                                                        type="text" value="{{valueName}}">
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Value Type *</strong></div>
                                                        <div class="col-sm-8">
                                                                <input required id="inputValueTypeKPIDataEdit" class="form-control"
                                                                        type="text" value="{{valueType}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Data Type *</strong></div>
                                                        <div class="col-sm-8">
                                                                <select id="selectDataTypeKPIDataEdit" class="custom-select custom-select">
                                                                        <option value="integer" {{#integerSelected}}
                                                                                selected{{/integerSelected}}>integer </option>
                                                                                <option value="float"
                                                                                {{#floatSelected}} selected{{/floatSelected}}>float
                                                                                </option> <option value="percentage"
                                                                                {{#percentageSelected}} selected{{/percentageSelected}}>percentage
                                                                                </option> <option value="string"
                                                                                {{#stringSelected}} selected{{/stringSelected}}>string
                                                                                </option> <option value="status"
                                                                                {{#statusSelected}} selected{{/statusSelected}}>status
                                                                                </option> </select> 
                                                        </div> 
                                                </div> 
                                        </li>

                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Description</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputDescriptionKPIDataEdit" class="form-control"
                                                                        type="text" value="{{description}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Info</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputInfoKPIDataEdit" class="form-control"
                                                                        type="text" value="{{info}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Latitude</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputLatitudeKPIDataEdit" class="form-control"
                                                                        type="text" value="{{latitude}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="row">
                                                        <div class="col-sm-4"><strong>Longitude</strong></div>
                                                        <div class="col-sm-8">
                                                                <input id="inputLongitudeKPIDataEdit" class="form-control"
                                                                        type="text" value="{{longitude}}"></input>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div id="mapContainer" style="width: 100%; height: 250px"></div>
                                        </li>
                                </ul>
                                <!-- {{/kpidata}} -->
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn editDashBtn">Save</button>
                        </div>
                </div>
        </form>
</div>