<div class="modal-dialog" role="document">
    <div class="modal-content">
        <!-- {{#kpidata}} -->
        <div class="modal-header">
            <h5 class="modal-title">{{name}}</h5>
            <button type="button" class="close" data-dismiss="modal" onclick="if(window.location.href.indexOf('?id=') > -1) window.location.href='index.html';" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="padding: 0px;">
            
            <ul class="list-group" style="border: none;">
                <li class="list-group-item"><strong>High Level Type</strong> <span style="float: right;">{{highLevelType}}</span></li>                
                <li class="list-group-item"><strong>Name</strong> <span style="float: right;">{{name}}<!-- {{#enableEdit}} -->
            <button type="button" onclick="DeviceGrpTabler.editDeviceGrpModal({{id}}, '{{highLevelType}}');" class=" btn editDashBtn">Edit</button><!-- {{/enableEdit}} --></span></li>
                <li class="list-group-item"><strong>Description</strong> <span style="float: right;">{{description}}<!-- {{#enableEdit}} -->
            <button type="button" onclick="DeviceGrpTabler.editDeviceGrpModal({{id}}, '{{highLevelType}}');" class=" btn editDashBtn">Edit</button><!-- {{/enableEdit}} --></span></li>                
                <li class="list-group-item"><strong>Created</strong> <span style="float: right;">{{insertTime}}</span></li>
                <li class="list-group-item"><strong>Last Change</strong> <span style="float: right;">{{updateTime}}</span></li>                
                <li class="list-group-item"><strong>Owner Username</strong> <span style="float: right;">{{username}} <!-- {{#enableEdit}} --><button type="button" onclick="DeviceGrpTabler.editDeviceGrpModal({{id}}, 'changeownership');" class="btn editDashBtn">Change
                    </button><!-- {{/enableEdit}} --></span></li>                            
                <li class="list-group-item"><strong>Public/Private</strong> <span style="float: right;">{{ownership}}<!-- {{#enableEdit}} -->
        <!-- {{^isPublic}} -->
        <button type="button" onclick="DeviceGrpTabler.makePublic({{id}});" class="btn editDashBtn">Toggle
        </button>
        <!-- {{/isPublic}} -->
        <!-- {{#isPublic}} -->
        <button type="button" onclick="DeviceGrpTabler.makePrivate({{id}});" class="btn editDashBtn">Toggle
        </button>
        <!-- {{/isPublic}} -->
        <!-- {{/enableEdit}} --></span></li>
                <li class="list-group-item"><strong>Organizations</strong> <span style="float: right;">{{organizations}}</span></li>    
                <li class="list-group-item" id="modalgrpcontent"><strong>Content</strong> <span style="float: right;">{{size}}&nbsp;
            <!-- {{#viewEnabled}} --><button type="button" onclick="GrpElementFilter.setCurrentSearchKey(''); GrpElementTabler.renderTable({{id}},true);" class="btn viewDashBtn">View</button><!-- {{/viewEnabled}} -->
            <!-- {{#enableEdit}} --><button type="button" class="btn editDashBtn" onclick=" GrpElementFilter.setCurrentSearchKey(''); GrpElementTabler.renderTable({{id}}); ">Edit</button><!-- {{/enableEdit}} -->            </span></li>   
                <!-- {{#enableEdit}} --><li class="list-group-item" id="modalgrpvisib"><strong>Visibility</strong> <span style="float: right;"><button type="button" onclick="GrpDelegationFilter.setCurrentSearchKey(''); GrpDelegationTabler.renderTable({{id}}, '{{highLevelType}}');" class="btn editDashBtn">Delegate
                </button>
                
            </span></li>   <!-- {{/enableEdit}} -->
            </ul>            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="if(window.location.href.indexOf('?id=') > -1) window.location.href='index.html';">Close</button><button id="simplyclose" style="display:none;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
        </div>
        <!-- {{/kpidata}} -->
    </div>
</div>
<script>
if(!GrpEditor.withParameters) {
    $("#modalgrpcontent").hide();
    $("#modalgrpvisib").hide();
}
</script>