<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Are you sure you want to disable the Engagement?<BR>This will imply that you will loose <b>ALL</b> your previous Engagement?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn deleteDashBtn" onclick="EngagerTabler.disableEngagement();">Delete and<BR>Disable</button>
        </div>
    </div>
</div>