<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<a href="https://www.snap4city.org"><img src="https://www.snap4city.org/drupal/sites/default/files/styles/thumbnail/public/pictures/picture-120-1547486581.png"/></a>

<span th:text="${body}">An anomalo sensor value has been found around a ppoi of yours</span>

<span th:text="${body_cancel}">You received this email since you subscribed your interest in being notify about. To manage your subscription please update your profile </span> <a href="https://main.snap4city.org"><span th:text="${here}">here</span></a>

<a href="https://www.km4city.org/"><img src="https://www.snap4city.org/drupal/sites/default/files/files/km4city-banner-mino.png"/></a>

</body>
</html>