<!-- {{#response}} -->
<div class="row justify-content-between" style="padding: 15px;">
    <div class="col-sm-2">
        <button id="backButtonToMyKPIDataList" class="btn btn-secondary" style="color: white;padding: 0.5rem;" type="button" onclick="KPIDataTabler.renderTable();">Return
            to My KPI Data List</button>
    </div>

    <div class="col-sm-2">
		<button id="refreshButtonKPIMetadataList" class="btn btn-secondary"
			style="color: white; padding: 0.5rem;" type="button"
			onclick="KPIOrgDelegationTabler.renderTable(KPIOrgDelegationTabler.currentKpiId, KPIOrgDelegationTabler.currentHighLevelType);">Refresh</button>
	</div>

</div>
<!-- {{#currentKPIData}} -->
<div class="row" style="padding: 15px;">
    <div class="col-sm-8 offset-sm-2">
        <div class="alert alert-light">
            <strong style="margin-right: 30px">Values of KPIData:</strong> <strong style="margin-right: 10px">No.</strong> {{id}} <strong style="margin-right: 10px; margin-left: 10px;">Nature</strong>
            {{nature}} | <strong style="margin-right: 10px;margin-left: 10px;">Sub Nature</strong> {{subNature}} | <strong style="margin-right: 10px; margin-left: 10px;">Value
                Name</strong> {{valueName}}
        </div>
    </div>

</div>
<!-- {{/currentKPIData}} -->
<div class="row" style="padding: 15px;">
    <div class="col-md-2">
        <select id="selectSizeKPIOrgDelegation" class="custom-select custom-select" onchange="KPIOrgDelegationPager.setCurrentSize($('#selectSizeKPIOrgDelegation').val());KPIOrgDelegationTabler.renderTable('{{kpiId}}');">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select>
    </div>
    <div class="col-md-2 offset-md-3" style="text-align: center; margin: 0.5rem;">
        <!-- {{#enableEdit}} -->
        <button class="btn btn-warning" style="color: white;padding: 0.5rem;" type="button" onclick="KPIOrgDelegationTabler.editKPIOrgDelegationModal('');">Add
            New My KPI Delegation</button>
        <!-- {{/enableEdit}} -->

    </div>
    <div class="col-nd-2 offset-nd-3">
        <div class="input-group">
            <input type="text" id="inputFilterKPIOrgDelegation" class="form-control" placeholder="Filter Table" aria-label="Filter Table"
                aria-describedby="button-addon2" onkeypress="return Utility.onKeyEnter(event);" \>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="$('#inputFilterKPIOrgDelegation').val('');KPIOrgDelegationFilter.setCurrentSearchKey(''); KPIOrgDelegationTabler.renderTable('{{kpiId}}');"
                    id="button-addon2" style="background-color: #eee;">&times;</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="KPIOrgDelegationFilter.setCurrentSearchKey($('#inputFilterKPIOrgDelegation').val()); KPIOrgDelegationTabler.renderTable('{{kpiId}}');"
                    id="button-search" style="background-color: #eee;">Search</button>
            </div>
        </div>
    </div>


</div>
<table class="table table-striped table-bordered" style="background-color: white">
    <caption></caption>
    <thead>
        <tr style="background: rgb(0, 162, 211); color: rgb(255, 255, 255); font-size: 1em;">
            <th scope="col" onclick="KPIOrgDelegationSorter.setSortOnField('id');KPIOrgDelegationTabler.renderTable('{{kpiId}}');" style="cursor: pointer;">No.
                {{#sortidASC}}&darr;{{/sortidASC}}
                {{#sortidDESC}}&uarr;{{/sortidDESC}}</th>
            <th scope="col" onclick="KPIOrgDelegationSorter.setSortOnField('usernameDelegated');KPIOrgDelegationTabler.renderTable({kpiId});"
                style="cursor: pointer;">Organization Delegated
                {{#sortgroupnameDelegatedASC}}&darr;{{/sortgroupnameDelegatedASC}}
                {{#sortgroupnameDelegatedDESC}}&uarr;{{/sortgroupnameDelegatedDESC}}</th>
            <th scope="col" onclick="KPIOrgDelegationSorter.setSortOnField('insertTime');KPIOrgDelegationTabler.renderTable('{{kpiId}}');"
                style="cursor: pointer;">Insert
                Time
                {{#sortinsertTimeASC}}&darr;{{/sortinsertTimeASC}} {{#sortinsertTimeDESC}}&uarr;{{/sortinsertTimeDESC}}</th>
            <!-- {{#enableEdit}} -->
            <th scope="col" >Controls</th>
            <!-- {{/enableEdit}} -->
        </tr>
    </thead>
    <tbody>
        <!-- {{#content}} -->
        <tr>
            <td>{{id}}</td>
            <td>{{groupnameDelegated}}</td>
            <td>{{#timestampToDate}}{{insertTime}}{{/timestampToDate}}</td>
            <!-- {{#enableEdit}} -->
            <td><button type="button" onclick="KPIOrgDelegationTabler.editKPIOrgDelegationModal({{kpiId}},{{id}});" class=" btn editDashBtn">Edit</button>
                <button type="button" onclick="KPIOrgDelegationTabler.deleteKPIOrgDelegationModal({{id}}, {{kpiId}}, '{{groupnameDelegated}}', '{{insertTime}}');"
                    class="btn deleteDashBtn">Delete</button></td>
            <!-- {{/enableEdit}} -->
        </tr>
        <!-- {{/content}} -->
    </tbody>
</table>
</div>


<div class="row">
    <div class="col-sm-3">
        <div class="pagination" style="background-color: #eee; text-align: center">
            <p>Showing <span class="badge">{{showingFrom}}</span> to
                <span class="badge"> {{showingTo}}</span>
                of
                <span class="badge">{{totalElements}}</span>
               My KPI Delegation</p>
        </div>
    </div>

    <div class="col-sm-6">
        <!-- Pagination Bar -->
        <div th:fragment='paginationbar'>
            <div class="text-center">
                <ul class='pagination pagination-centered'>
                    <li class="page-item {{#first}} disabled {{/first}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage(0); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">First</span>
                    </li>
                    <li class="page-item {{#first}} disabled {{/first}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage({{number}} - 1); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">&lt;</span>
                    </li>
                    <li class="page-item {{#disableTwoPreviousNumber}} disabled {{/disableTwoPreviousNumber}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage({{number}} - 2); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">{{twoPreviousNumber}}</span>
                    </li>
                    <li class="page-item {{#disablePreviousNumber}} disabled {{/disablePreviousNumber}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage({{number}} - 1); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">{{previousNumber}}</span>
                    </li>
                    <li class="page-item">
                        <span class="page-link" style="background-color: #337ab7;border-color: #337ab7;color: white">
                            {{labelNumber}}</span>
                    </li>
                    <li class="page-item {{#disableNextNumber}} disabled {{/disableNextNumber}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage({{number}} + 1); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">{{nextNumber}}</span>
                    </li>
                    <li class="page-item {{#disableTwoNextNumber}} disabled {{/disableTwoNextNumber}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage({{number}} + 2); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">{{twoNextNumber}}</span>
                    </li>
                    <li class="page-item {{#last}} disabled {{/last}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage({{number}} + 1); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">&gt;</span>
                    </li>
                    <li class="page-item {{#last}} disabled {{/last}}">
                        <span class="page-link" style="color: #337ab7" onclick="KPIOrgDelegationPager.setCurrentPage({{totalPages}} - 1); KPIOrgDelegationTabler.renderTable('{{kpiId}}');">Last</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="input-group">
            <input type="number" id="inputGoToPageKPIOrgDelegation" class="form-control" placeholder="Page Number"
                aria-label="Page Number" aria-describedby="button-addon2" max="{{totalPages}}" min="1" \>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="KPIOrgDelegationPager.setCurrentPage($('#inputGoToPageKPIOrgDelegation').val() - 1); KPIOrgDelegationTabler.renderTable('{{kpiId}}');"
                    id="button-addon2" style="background-color: #eee;">Go</button>
            </div>
        </div>
    </div>
    <!-- {{/response}} -->