<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.Insert</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>iot-api-config/insert-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ListStaticAttr</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.ListStaticAttr</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>iot-api-config/list-static-attr-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.Delete</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>iot-api-config/delete-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Move</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.Move</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>iot-api-config/move-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>InsertStaticAttr</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.InsertStaticAttr</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>iot-api-config/insert-static-attr-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaticAttr</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.DeleteStaticAttr</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>iot-api-config/delete-static-attr-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaticAttr</servlet-name>
        <url-pattern>/list-static-attr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Move</servlet-name>
        <url-pattern>/move</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStaticAttr</servlet-name>
        <url-pattern>/insert-static-attr</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>DeleteStaticAttr</servlet-name>
        <url-pattern>/delete-static-attr</url-pattern>
    </servlet-mapping>      
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
