<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.Insert</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>/usr/share/tomcat7/iot-config/insert-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.Delete</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>/usr/share/tomcat7/iot-config/delete-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Disable</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.Disable</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>/usr/share/tomcat7/iot-config/disable-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Enable</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.Enable</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>/usr/share/tomcat7/iot-config/enable-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MakePublic</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.MakePublic</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>/usr/share/tomcat7/iot-config/make-public-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MakePrivate</servlet-name>
        <servlet-class>org.disit.iotdeviceapi.MakePrivate</servlet-class>
        <init-param>
            <param-name>cfgFile</param-name>
            <param-value>/usr/share/tomcat7/iot-config/make-private-api-cfg.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disable</servlet-name>
        <url-pattern>/disable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enable</servlet-name>
        <url-pattern>/enable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePublic</servlet-name>
        <url-pattern>/make-public</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePrivate</servlet-name>
        <url-pattern>/make-private</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
