<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>

<body>
    <p>Dear [[user]],</p>
    <p>To recover your password, please click link below:</p>
    <p><a href="[[url]]">[[url]]</a></p>
    <p>The link is valid for 15 minutes. After that, you will need to start the process from the beginning</p>
    <p>If you experience any problems, contact our support team through the link at the bottom of the page.</p>

    <p>Για να ανακτήσετε τον κωδικό πρόσβασής σας, κάντε κλικ στον παρακάτω σύνδεσμο:</p>
    <p><a href="[[url]]">[[url]]</a></p>
    <p>Ο σύνδεσμος ισχύει για 15 λεπτά. Μετά από αυτό, θα χρειαστεί να ξεκινήσετε τη διαδικασία από την αρχή.</p>
    <p>Αν αντιμετωπίσετε οποιοδήποτε πρόβλημα, επικοινωνήστε με την ομάδα υποστήριξής μας μέσω του συνδέσμου στο κάτω
        μέρος της σελίδας.</p>
    <p>Regards,</p>
    <p>MySiteName team.</p>
    <p>Support: support@support.com</p>
</body>

</html>