<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete registration</title>
</head>

<body>
    <p>Dear [[user]],</p>
    <p>Thanks for registering into MySiteName! To continue your registration, please click link below:</p>
    <p><a href="[[url]]">[[url]]</a></p>
    <p>Clicking on link, you can insert your data to complete registration.</p>
    <p>If you experience any problems, contact our support team through the link at the bottom of the page.</p>


    <!-- Greek translation -->
    <p>Ευχαριστούμε που εγγραφήκατε στο MySiteName! Για να συνεχίσετε την εγγραφή σας, κάντε κλικ στον παρακάτω
        σύνδεσμο:</p>
    <p><a href="[[url]]">[[url]]</a></p>
    <p>Κάνοντας κλικ στον σύνδεσμο, μπορείτε να εισάγετε τα στοιχεία σας για να ολοκληρώσετε την εγγραφή.</p>
    <p>Σε περίπτωση προβλήματος, επικοινωνήστε με την ομάδα υποστήριξης στο τέλος της σελίδας.</p>


    <p>Regards,</p>
    <p>MySiteName team.</p>
    <p>Support: support@support.com</p>
</body>

</html>